@{
    ViewBag.Title = "Repayment.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }


    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }


    .total-amount {
        float: right;
    }

    .loadingImg {
        display: none;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <table id="dt_Loan_listing" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Loan No</th>
                                        <th>Loan Code</th>
                                        <th>Loan Amount</th>
                                        <th>Deposit Amount</th>
                                        <th>Created At</th>
                                        <th style="width:100px">Control Number</th>
                                        <th style="width:100px">Payment Status</th>
                                        <th style="width:20px"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2002</td>
                                        <td>C00919</td>
                                        <td>44,000,000.00</td>
                                        <td>440,000.00</td>
                                        <td>10/01/2020</td>
                                        <td>-</td>
                                        <td>Pending</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">View</a></li>
                                                    <li><a href="#">Request Control No</a></li>
                                                    <li><a href="#">Print Repayment Schedule.</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2003</td>
                                        <td>C00920</td>
                                        <td>28,000,000.00</td>
                                        <td>280,000.00</td>
                                        <td>10/01/2020</td>
                                        <td>876345630087</td>
                                        <td>Paid</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">View</a></li>
                                                    <li><a href="#">Request Control No</a></li>
                                                    <li><a href="#">Print Repayment Schedule.</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>2005</td>
                                        <td>C00918</td>
                                        <td>56,000,000.00</td>
                                        <td>560,000.00</td>
                                        <td>03/01/2020</td>
                                        <td>-</td>
                                        <td>Pending</td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">View</a></li>
                                                    <li><a href="#">Request Control No</a></li>
                                                    <li><a href="#">Print Repayment Schedule.</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{
    <script>
        var dt_Loan_listing = $('#dt_Loan_listing').dataTable();

        $("#dt_Loan_listing_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            //dt_Loan_listing.DataTable().search(this.value).draw();
        });

        function confirm() {
            swal({
                title: "Mark this item as Examined",
                buttons: [
                  'No',
                  'Yes'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal("Saved Successfully!",
                        { icon: "success" })
                        .then((e) => {
                        window.location.reload();
                    });
                }
            });
        }
    </script>
}
