<option value="" selected="selected">--Select @ViewBag.Source--</option>

@if (ViewBag.LegalNumbers != null)
{
    foreach (var item in ViewBag.LegalNumbers)
    {
<option value="@item.Value">@item.Text</option>
    }
}
