<option value=""> Select Bank Account </option>
@if (ViewBag.AccountNumber != null)
{
    foreach (var item in ViewBag.AccountNumber)
    {
     <option value="@item.Value"> @item.Text </option>
    }
}