<option value="">-- Select Bank Account --</option>
@if (ViewBag.BankAccount != null)
{
    foreach (var item in ViewBag.BankAccount)
    {
     <option value="@item.Value"> @item.Text </option>
    }
}