<option value=""> Select Budget Class </option>
@if (ViewBag.budgetClass != null)
{
    foreach (var item in ViewBag.budgetClass)
    {
        <option value="@item.Value"> @item.Text </option>
    }
}