@if ((User.IsInRole("Consolidation Validation")))
{
<li class="@Html.RouteIf("Validation", "active")">

    <a href="@Url.Action("Validation", "AdjustmentValidation", new { area = "Consolidation" })"><i class="fa fa-external-link"></i> Report Status</a>
</li>

}
