@using IFMIS.Extensions
@*<div style="align-content:center">
    <div class="login-info">
        <div style="padding: 15%; padding-top:0.05%; padding-bottom:0%">
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut" style="color:#005500">
                <img src="~/content/img/avatars/sunny.png" alt="me" class="online" />
                @User.GetDisplayName()
            </a>
        </div>
    </div>
</div>*@
<div class="login-info" style="background-color:#e3e5e5">
    <span>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
            <img src="~/content/img/avatars/sunny.png" alt="me" class="online" />
            <span>@User.GetDisplayName()</span>
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>