@if ((User.IsInRole("Elimination Mapping Entry")))
{
<li class="@Html.RouteIf("EliminationMappingList", "active") || @Html.RouteIf("EditEliminationMapping", "active")">

    <a href="@Url.Action("EliminationMappingList", "DisclosureEliminationMappingSetup", new { area = "IFMISTZ" })"><i class="fa fa-external-link"></i> Elimination Mapping</a>
</li>

}
