<li class="@Html.RouteIf("Report", "active" )">
    <a href="#"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent"> Final Account Entry </span></a>
    <ul>
        @if (User.IsInRole("Trial Balance Entry"))
        {
            { Html.RenderPartial("_ConsoDataEntry"); }
        }
        
        @{ Html.RenderPartial("_ConsoValidation"); }
        @{ Html.RenderPartial("_ConsoDisclosures"); }
        @{ Html.RenderPartial("_ConsoEliminationMenu"); }

    </ul>


</li>
