<!-- PAGE FOOTER -->
<div class="page-footer" style="background-color:#e3e5e5">
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <span class="txt-color-blueDark">Developed by <span class="hidden-xs_deleted">Ministry of Finance and Planning</span> &copy; 2019 - MUSE</span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->