<option value=""> Select Fund Type </option>
@if (ViewBag.fundSourceType != null)
{
    foreach (var item in ViewBag.fundSourceType)
    {
     <option value="@item.Value"> @item.Text </option>
    }
}