<li class="@Html.RouteIf("Report", "active")">
    <a href="#"><i class="fa fa-lg fa-fw fa-briefcase"></i> <span class="menu-item-parent"> GACS </span></a>
    <ul>
        @{ Html.RenderPartial("_GacsDataEntryMenu"); }
        @{ Html.RenderPartial("_GacsNoteReview"); }
        @{ Html.RenderPartial("_GacsDataTrackerMenu"); }
        @{ Html.RenderPartial("_GacsReportsMenu"); }
        @{ Html.RenderPartial("_GacsSetup"); }
    </ul>
</li>
