@if (User.IsInRole("Auditor"))
 {
    <li class="@Html.RouteIf("", "Active")">
        <a href="#"><i class="fa fa-external-link"></i>Consolidation</a>
        <ul>
            <li class="@Html.RouteIf("Confirmation", "active")">
                <a href="@Url.Action("NoteList", "gac_note_explorer_summary_Vw", new { area = "GACS" })"><i class="fa fa-external-link"></i> Note Review</a>
            </li>
        </ul>
    </li>
 }