<option value="">Select GfsCode</option>

@if (ViewBag.gfscodenoteList != null)
{
    foreach (var item in ViewBag.gfscodenoteList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
