
<option value="">Select Item</option>

@if (ViewBag.GfsCodeItemList != null)
{
    foreach (var item in ViewBag.GfsCodeItemList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}
