<option value="">--Select Institution--</option>
@if (ViewBag.InstitutionCodeList != null)
{
    foreach (var item in ViewBag.InstitutionCodeList)
    {
     <option value="@item.Value">@item.Value - @item.Text</option>
    }
}