@if (Enumerable.Count(ViewBag.report) > 1)
{
    <option value=""> -- Select Exchequer Type -- </option>
    <option value="ALL">ALL</option>
    foreach (var item in ViewBag.report)
    {
        <option value="@item.Value"> @item.Text </option>
    }
    <option value="000">000 - Component Based Type</option>
}

else
{
    <option value=""> -- Select Exchequer Type -- </option>
    if (ViewBag.report != null)
    {
        foreach (var item in ViewBag.report)
        {
            <option value="@item.Value"> @item.Text </option>
        }
        <option value="000">000 - Component Based Type</option>
    }
}

