@if (Enumerable.Count(ViewBag.report) > 1)
{
    <option value="">-- Select SubWarrant Holder --</option>
    <option value="ALL">ALL</option>
    foreach (var item in ViewBag.report)
    {
        <option value="@item.Value"> @item.Text </option>
    }
}

else
{
    <option value="">-- Select SubWarrant Holder --</option>
    if (ViewBag.report != null)
    {
        foreach (var item in ViewBag.report)
        {
            <option value="@item.Value"> @item.Text </option>
        }

    }
}

