@using IFMIS.Extensions

<style>
    .btn.btn-ribbon-notify {
        background-color: #ff0000;
        background-image: -moz-linear-gradient(top, #ff0000, #ff0000);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff0000), to(#ff0000));
        background-image: -webkit-linear-gradient(top, #ff0000, #ff0000);
        background-image: -o-linear-gradient(top, #ff0000, #ff0000);
        background-image: linear-gradient(to bottom, #ff0000, #ff0000);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ff0000', GradientType=0);
        color: #ff0000;
        padding: 0 5px;
        line-height: 20px;
        vertical-align: middle;
        height: 20px;
        display: block;
        border: none;
        float: left;
        margin: 0 8px 0 0;
        cursor: pointer;
    }
</style>


<!-- RIBBON -->
<div id="ribbon" class="smart-style-3" style="background-color:#e3e5e5">
    @*style="background-color:gainsboro"*@
    <span class="ribbon-button-alignment">
        <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
            <i class="fa fa-refresh"></i>
        </span>
    </span>
    <!-- breadcrumb breadcrumb-->
    <ol class="breadcrumb">
        <li class="btn btn-ribbon">Home</li>
        <li class="btn btn-ribbon">Dashboard</li>
    </ol>

    @if (User.HasNewAnnouncement() == "True")
    {
        <span class="ribbon-button-alignment">
            <span id="announcement" class="btn btn-ribbon-notify" data-action="#" data-title="Announcement"
                  data-placement="bottom"
                  data-original-title="<i class='text-info fa fa-info'></i> Announcement" data-html="true">
                <a href="~/Media/Docs/@User.GetNewAnnouncement()" style="color: whitesmoke; text-decoration: none" target="_blank">
                    <i class="fa fa-bell"></i>
                    Muongozo wa Elimination Disclosure
                </a>
            </span>
        </span>
    }

    <!-- end breadcrumb -->
    <!-- You can also add more buttons to the
    ribbon for further usability

    Example below:

    <span class="ribbon-button-alignment pull-right">
    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
    </span> -->

</div>
<!-- END RIBBON -->