
<option value="">-- Select Segment Type --</option>
<option value="ALL">ALL</option>
@foreach (var item in ViewBag.report)
{
    <option value="@item.Value"> @item.Text </option>
}
<option value="SUB BUDGET CLASS">SUB BUDGET CLASS</option>


