<option value=""> Select Sub Budget Class To </option>
@if (ViewBag.subbudgetClass != null)
{
    foreach (var item in ViewBag.subbudgetClass)
    {
     <option value="@item.Value"> @item.Value - @item.Text </option>
    }
}