<option value="">Select Attachment Type</option>

@if (ViewBag.AttachmentTypes != null)
{
    foreach (var item in ViewBag.AttachmentTypes)
    {
<option value="@item.Value">@item.Text</option>
    }
}