<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Create</h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <div class="row" style="padding:1% 5% 0 5%;">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <table>
                                    
                                        <tr>
                                            <td class="form-label">
                                                Config Name
                                                <i class="fa fa-times" style="color:white" id="ConfigName2"></i>
                                            </td>
                                            <td>
                                                <input id="ConfigName" style="width:265px;" type="text">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="form-label">
                                                Config Description
                                                <i class="fa fa-times" style="color:white" id="ConfigDescription2"></i>
                                            </td>
                                            <td>
                                                <input id="ConfigDescription" style="width:265px;" type="text">
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                           
                            <!-- end widget content -->
                            
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-6">

                                    <a class="btn btn-info" href='@Url.Action("PendingConfigList", "ConfigList")' style="margin-right:5px">
                                        <i class="glyphicon glyphicon-arrow-left"></i>Back
                                    </a>
                                    <button type="submit" class="btn btn-info" id="form_submision">
                                        <i class="fa fa-save"></i>Save
                                        @*<img src="~/Content/img/loading.gif" id="saveLoader" />*@
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific{
    <script>

        $("#form_submision").click(function () {
            debugger
            var configName = $("#ConfigName").val();
            console.log(configName);
            if (configName == '') {
                swal("Config Name is Required")
                    .then((j) =>{
                        $("#ConfigName").focus();
                        $("#ConfigName").css({'border-color':'red'});

                    });
  

            }
            else {
                $("#ConfigName").css({ 'border-color': '' });
           
                var form_data = {    
                    "ConfigName": $("#ConfigName").val(),
                    "ConfigDescription": $("#ConfigDescription").val(),
               
                }

                console.log(form_data);

                var url = '@Url.Action("CreateConfig", "ConfigList")';
                var urlList = '@Url.Action("PendingConfigList", "ConfigList")';
               
                $.ajax({
                    type: "post",
                    url: url,
                    data: form_data,
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                                     
                        if (response == "Success") {
                            swal("Saved Successfully!", { icon: "success" })
                                .then((value) => {
                                    window.location.href = urlList;
                                });
                        } else 

                                 if (response == "Duplicate") {
                                     swal("Duplicate Configuration!", { icon: "warning" })
                                .then((value) => {
                                    window.location.href = url;
                                });
                        }
                        else {

                            swal(response);
                        }
                    },
                    failure: function (error) {
                                     
                        swal(error);
                    }
                });
            }
        

        });





   </script>
    }
