<style>
    input{
        border: 1px solid lightgray;
        width: 300px;
        height: 35px;
    }
</style>

<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Financial Year Creation</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px; width:100%;">
                            @if (TempData["Message"] != null)
                            {
                                <h4 style="color:red;">  @TempData["Message"] </h4>
                            }
                            <table style="width:100%">
                                <tr>
                                    <td colspan="1">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right;">
                                                    Financial Year StartDate:
                                                    <i class="fa fa-times" style="color:white" id="FinancialYearStartDate_1"></i>
                                                </label>
                                                <table >
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div class="flatpickr3 date-group">
                                                                <input type="text" name="FinancialYearStartDate" id="FinancialYearStartDate" placeholder="Select Date.."
                                                                       data-input
                                                                       style="width:258px;border:none;height:20px"
                                                                       autocomplete="off">
                                                                <a class="input-button" title="open" data-toggle href="#">
                                                                    <span class="input-group-addon" style="height:30px"><i class="fa fa-calendar"></i></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                             </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right;">
                                                    Financial Year EndDate:
                                                    <i class="fa fa-times" style="color:white" id="FinancialYearEndDate_1"></i>
                                                </label>
                                                <table >
                                                    <tr>
                                                        <td></td>
                                                        <td>
                                                            <div class="flatpickr3 date-group">
                                                                <input type="text" name="FinancialYearEndDate" id="FinancialYearEndDate" placeholder="Select Date.."
                                                                       data-input
                                                                       style="width:258px;border:none;height:20px"
                                                                       autocomplete="off">
                                                                <a class="input-button" title="open" data-toggle href="#">
                                                                    <span class="input-group-addon" style="height:30px"><i class="fa fa-calendar"></i></span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right;">
                                                    Financial Year:
                                                    <i class="fa fa-times" style="color:white" id="FinancialYearCode_1"></i>
                                                </label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        <input placeholder="Eg.2019"  name="FinancialYearCode" id="FinancialYearCode" type="number" style="margin-left:-15px">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" text-align:right;">
                                                    Financial Year Desc:
                                                    <i class="fa fa-times" style="color:white" id="FinancialYearDesc_1"></i>
                                                </label>
                                                <div class="col-md-8 inputGroupContainer">
                                                    <div class="input-group">
                                                        <input   placeholder="Eg.2018/2019"name="FinancialYearDesc" id="FinancialYearDesc" style="margin-left:-15px">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a href='@Url.Action("FinancialYearList", "FinancialYears")' class="btn btn-info" style="width:80px;border-radius:1px;color:black">
                                                            <i class="glyphicon glyphicon-arrow-left"></i>
                                                            Back
                                                        </a>
                                                        <button class="btn action-btn btn btn-info" onclick="postForm()">
                                                            <i class="fa fa-save"></i>
                                                            Save
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    <td colspan="1"></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    </div>
    @section pagespecific{
        <script>


            function postForm() {

                var isNotSupplied = validateReportParameters([
                    "#FinancialYearStartDate",
                    "#FinancialYearEndDate",
                    "#FinancialYearCode",
                    "#FinancialYearDesc",
                ]);

                if (isNotSupplied) {
                    $(isNotSupplied + "_1").attr("style", "color:red");
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Create", "FinancialYears")',
                        data: {
                            "FinancialYearCode": $("#FinancialYearCode").val(),
                            "FinancialYearEndDate": $("#FinancialYearEndDate").val(),
                            "FinancialYearStartDate": $("#FinancialYearStartDate").val(),
                            "FinancialYearDesc": $("#FinancialYearDesc").val(),
                            "BudgetExchangeRate": 0,
                            "OverallStatus": "ACTIVE",
                        },
                        success: function (response) {
                            if (response == "Success") {
                                swal("Saved Successful!", {icon: "success"}).then(() => {
                                    window.location.href = '@Url.Action("FinancialYearList", "FinancialYears")';
                                });
                            } else {
                                swal(response);
                            }

                        }
                    })
                }
            }

            function validateReportParameters(parameterList) {
                var resetStyle = function (parameterList) {
                    for (var i = 0; i < parameterList.length; i++) {
                        $(parameterList[i] + "_1").attr("style", "color: white");
                    }
                }
                resetStyle(parameterList);

                for (var i = 0; i < parameterList.length; i++) {
                    if (!$(parameterList[i]).val().trim()) {
                        return parameterList[i];
                    }
                }
                return null;
            }
        </script>
    }
