<span>
    Hello {destinationName},<br /><br />

    Attached is un-attended revenue report for {serverName} server as of {reportTime}<br /><br />

    Disclaimer:<br />
    This e-mail message (including any attachments) is intended for the addressee only,
    and may contain confidential information. The unauthorised use, disclosure or copying
    of this e-mail or any information contained within it is strictly prohibited.
    If you are not the intended recipient, please notify the author and delete this
    e-mail immediately in its entirety.
</span>
