@{
    ViewBag.Title = "Exchequer Withdraw Approval";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
        width: 40px;
    }

    .name-input-container {
        display: inline-flex;
        /*flex: 1 1 300px;*/
        position: relative;
        overflow: hidden;
        border: 1px solid #ccc;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div style="display:flex;justify-content:space-between;margin-bottom:5px">
                                <div></div>
                                <div>
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>
                            <table id="dt_table" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Funding Ref</th>
                                        <th>Institution Code</th>
                                        <th>Released Amount</th>
                                        <th>Balance Amount</th>
                                        <th>Withdraw Amount</th>
                                        <th>New Balance Amount</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<!----------- Details ----------------->
<div class="modal fade" id="detailsModal" style="left:4%">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Withdraw from Components</h3>
            </div>
            <div class="modal-body">
                <div class="row" style="border-bottom:10px">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchbox">
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-condensed" id="dt_details">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Funding Ref</th>
                            <th>Institution Code</th>
                            <th>Component Name</th>
                            <th>Released Amount</th>
                            <th>Balance Amount</th>
                            <th>Withdraw Amount</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

@section pagespecific{
    <script>
        function zoomExchequer() {
            $('#searchModal').modal('show');
        }

        var dt_table = $('#dt_table').dataTable()
        $("#dt_table_wrapper .dt-toolbar").remove();

        var dt_details = $('#dt_details').dataTable();
        $("#dt_details_wrapper .dt-toolbar").remove();

        var data = []
        function getExchequerDetails() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetExchWithdrawData", "ExchequerWithdraw")",
                data: {
                    status: "Confirmed"
                },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data;
                    updateGLSearchTable(data)
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        function openViewDialog(i) {
            updateDetailsTable(data[i])
            $("#detailsModal").modal('show')
        }

        function updateDetailsTable(d) {
            dt_details.fnClearTable();
            for (var i = 0; i < d.length; i++) {
                dt_details.fnAddData([i + 1,
                   d[i].FundingRefNo,
                   d[i].InstitutionCode,
                   d[i].ComponentName,
                   d[i].ReleaseAmount.toLocaleString(),
                   d[i].Balance.toLocaleString(),
                   d[i].WithdrawAmount.toLocaleString(),
                ]);
            }
        }

        getExchequerDetails()
        function updateGLSearchTable(data) {
            dt_table.fnClearTable();
            for (var i = 0; i < data.length; i++) {
                dt_table.fnAddData([i + 1,
                   data[i][0].FundingRefNo,
                   data[i][0].InstitutionCode,
                   sum(data[i], 'ReleaseAmount').toLocaleString(),
                   sum(data[i], 'Balance').toLocaleString(),
                   sum(data[i], 'WithdrawAmount').toLocaleString(),
                   (sum(data[i], 'Balance')-sum(data[i], 'WithdrawAmount')).toLocaleString(),
                   data[i][0].OverallStatus,
                  '<div class="btn-group" id="drop-' + i + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                            <ul class="dropdown-menu">\
                                <li><a href="#" onclick= "openViewDialog(' + i + ')">Details</a></li>\
                                <li><a href="#" onclick= "reject(' + i + ')">Reject</a></li>\
                                <li><a href="#" onclick="approve(' + i + ')">Approved</a></li>\
                            </ul>\
                        </div>'
                ]);
            }
        }

        function sum(arrayObj,key){
            var total = 0
            arrayObj.forEach((a) => {
                total += a[key] || 0
            });
            return total;
        }

        function approve(i) {
            swal({
                title: 'Approve this Item ?',
                buttons: ['NO','YES'],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    postConfirmation(
                        data[i][0].FundingRefNo,
                        data[i][0].InstitutionCode,
                        "Approved"
                   )
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

        function reject(i) {
            swal({
                title: 'Reject this Item ?',
                buttons: ['NO', 'YES'],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    postConfirmation(
                        data[i][0].FundingRefNo,
                        data[i][0].InstitutionCode,
                        "Rejected"
                   )
                } else {
                    swal("Cancelled", "No change was made");
                }
            });
        }

       function postConfirmation(FundingRefNo, InstitutionCode, OverallStatus) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ActionsExchWithdraw", "ExchequerWithdraw")",
                data: { FundingRefNo, InstitutionCode, OverallStatus },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                if(response == "Success"){
                    swal("Saved Successfully..!", { icon: 'success' })
                    .then((_) => {
                        window.location.reload()
                    })
                } else {
                    swal(response)
                }
            },
            failure: function (error) {
                swal(error);
            }
        });
        }

    </script>
}
