@{
    ViewBag.Title = "Employer Contribution Report";
    ViewBag.Description = "form wizards";
    //Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    .input {
        border-width: 1px 0 1px 1px;
        border-color: #ccc;
        border-style: solid;
        width: 110px;
        height: 32px;
    }

    span {
        cursor: pointer;
    }
</style>


<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">


        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

        </div>
    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Vote
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" name="VoteCode" id="VoteCode" class="form-control padding-left-10" placeholder="Search by VoteCode, Name or ALL" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        CheckNumber
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" name="CheckNumber" id="CheckNumber" class="form-control padding-left-10" placeholder="Search by CheckNumber or ALL" />
                                    </div>
                                </div>
                                <div class="form-group check1">
                                    <div class="control-label col-md-2">
                                        CheckDate
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input name="CheckDate" id="CheckDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group start1">
                                    <div class="control-label col-md-2">
                                        Start Check Date
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input name="StartDate" id="StartDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group end1">
                                    <div class="control-label col-md-2">
                                        End Check Date
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input name="EndDate" id="EndDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="simple" />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn action-btn btn btn-info" onclick="EmployersContributionRPT()">
                                            View Report
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section scripts
{
    <script>

        $(".check1").css({ "display": "none" });
        $(".start1").css({ "display": "none" });
        $(".end1").css({ "display": "none" });

        GetVotes();
        GetEmployees();

        function EmployersContributionRPT() {
            var Vote = $("#VoteCode").val().trim(),
                CheckNumber = $("#CheckNumber").val().trim(),
                startDate ,
                endDate,
                url = "@ViewBag.UrlName" + "EmployersContributionRpt.aspx",
                isNotSupplied, queryString;

            console.log($("#CheckNumber").val().trim().toUpperCase())

            if ($("#CheckNumber").val().trim().toUpperCase() === "ALL") {

                startDate = $("#CheckDate").val().trim(),
                endDate = $("#CheckDate").val().trim(),
                    isNotSupplied = validateReportParameters(["#VoteCode", "#CheckNumber", "#CheckDate"]),
                    queryString = "VoteCode=" + Vote + "&CheckNo=" + CheckNumber + "&StartCheckDate=" + startDate + "&EndCheckDate=" + endDate;

            }
            else {
                startDate = $("#StartDate").val().trim(),
                endDate = $("#EndDate").val().trim(),
                    isNotSupplied = validateReportParameters(["#VoteCode", "#CheckNumber", "#StartDate", "#EndDate"]),
                    queryString = "VoteCode=" + Vote + "&CheckNo=" + CheckNumber + "&StartCheckDate=" + startDate + "&EndCheckDate=" + endDate;
            }

            //var isNotSupplied = validateReportParameters(["#VoteCode", "#CheckNumber", "#StartDate", "#EndDate"]),
            //    queryString = "VoteCode=" + Vote + "&CheckNo=" + CheckNumber + "&StartCheckDate=" + startDate + "&EndCheckDate=" + endDate;

            if (isNotSupplied)
                $(isNotSupplied).attr("style", "border: 1px solid red");
            else
            {
                $.ajax({
                        type: "GET",
                        url: '@Url.Action("ParameterEncryption", "Reports")',
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        data: { "query": queryString },
                        success: function (response) {
                            window.open(url + response);
                        }
                });
            }
        }


        $("#CheckNumber").change(function () {

            var checkno = $(this).val().trim().toUpperCase();

            if (checkno === "ALL") {

                $(".check1").css({ "display": "block" });
                $(".start1").css({ "display": "none" });
                $(".end1").css({ "display": "none" });

            }
            else {
                $(".check1").css({ "display": "none" });
                $(".start1").css({ "display": "block" });
                $(".end1").css({ "display": "block" });

            }

            
        });


        function validateReportParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i]).attr("style", "border: 1px solid #ccc");
                }
            }
            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }

        //function GetVotes() {
        //    const url = "GetVotes/";
        //    $.ajax({
        //        type: "GET",
        //        url: url,
        //        contentType: "html",
        //        success: function (response) {
        //            $("#VoteCode").empty();
        //            $("#VoteCode").append(response);
        //        }
        //    });
        //}

        function GetVotes() {
            const url = "GetVotes/";
            $("#VoteCode").select2({
                minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
                width: 'resolve',   // to adjust proper width of select2 wrapped elements
                ajax: {
                    url: url, // Controller - Select2Demo and Action -AccessRemoteData
                    type: "GET",
                    dataType: 'json',
                    data: function (searchCheck) {
                        return {
                            searchCheck: searchCheck,
                        };
                    },
                    results: function (data, page) {
                        return { results: data.votes }; // data.checkNumbers returning json data from Controller
                    }
                }
            });
        }

        function GetEmployees() {
            var url = "GetEmployerDeductionEmployee/";

            $("#CheckNumber").select2({
                minimumInputLength: 3,  // minimumInputLength for sending ajax request to server
                width: 'resolve',   // to adjust proper width of select2 wrapped elements
                ajax: {
                    url: url, // Controller - Select2Demo and Action -AccessRemoteData
                    type: "GET",
                    dataType: 'json',
                    data: function (searchCheck) {
                        return {
                            searchCheck: searchCheck,
                            voteCode: $("#VoteCode").val(),
                        };
                    },
                    results: function (data, page) {
                        return { results: data.checkNumbers }; // data.checkNumbers returning json data from Controller
                    }
                }
            });
        }

    </script>
}