

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Report Parameter";
}

<style>
    .input {
        border-width: 1px 0 1px 1px;
        border-color: #ccc;
        border-style: solid;
        width: 110px;
        height: 32px;
    }

    span {
        cursor: pointer;
    }
</style>

<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Payroll Date
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input name="PayrollDate" id="PayrollDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="simple" />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn action-btn btn btn-info" onclick="viewReport()">
                                            View Report
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section scripts
{
    <script>
        var viewReport = function () {
            var currentMonth = $("#PayrollDate").val();

            if (currentMonth == "") {
                swal("Please Select Current Payroll Date!")
                return true;
            }

            var url = "../Reports/GetExchequerDetailReport?currentMonth=" + currentMonth;

            $.ajax({

                type: "GET",
                async: false,
                success: function () {
                    window.open(url, '_blank');
                }
            });
        };
    </script>
}