@model IFMIS.Areas.IFMISTZ.Models.InstitutionListVm

@{
    ViewBag.Title = "ConsoEntityMuseRiskAnalysisRPTv";
    ViewBag.Description = "form wizards";
    //Layout = "~/Views/Shared/_Default.cshtml";

}

<style>
    .input {
        border-width: 1px 0 1px 1px;
        border-color: #ccc;
        border-style: solid;
        width: 110px;
        height: 32px;
    }

    .input_page {
        border: 1px solid #ccc;
        width: 145px;
        height: 32px;
    }

    span {
        cursor: pointer;
    }
</style>
<script type="text/javascript">

    function MuseRiskAnalysisRPT() {
        var entityCode = $("#InstitutionCode").val().trim(),
            analysisType = $("#AnalysisType").val().trim(),
            fy = $("#FinancialYear").val().trim(),
            url = "@Model.UrlName",
            queryString = "";


        if (analysisType === "CreditRisk") {
            url = url + "ConsoEntityMuseRiskAnalysisRPT.aspx";
            queryString = "inst-code=" + entityCode + "&fiscal-yr=" + fy + "&analysis-type=" + analysisType;
        }
        if (analysisType === "LiquidityRisk") {
            url = url + "ConsoEntityMuseLiquidityAnalysisRPT.aspx";
            queryString = "inst-code=" + entityCode + "&fiscal-yr=" + fy + "&analysis-type=" + analysisType;
        }

        var isNotSupplied = validateReportParameters(["#InstitutionCode", "#FinancialYear"]);

        if (isNotSupplied)
            $(isNotSupplied).attr("style", "border: 1px solid red");
        else
        {
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("ParameterEncryption", "Report")',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { "query": queryString },
                    success: function (response) {
                        window.open(url + response);
                    }
            });
        }
    }

    function validateReportParameters(parameterList) {
        var resetStyle = function (parameterList) {
            for (var i = 0; i < parameterList.length; i++) {
                $(parameterList[i]).attr("style", "border: 1px solid #ccc");
            }
        }
        resetStyle(parameterList);

        for (var i = 0; i < parameterList.length; i++) {
            if (!$(parameterList[i]).val().trim()) {
                return parameterList[i];
            }
        }
        return null;
    }
</script>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">


        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

        </div>
    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Entity Risk Analysis Parameters </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Institution Code
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(model => model.InstitutionCode, Model.InstitutionCodeList, "-- Select Institution --", new { @class = "select2 form-control padding-left-10" })
                                        @Html.ValidationMessageFor(model => model.InstitutionCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @*<div class="form-group">
                                <div class="control-label col-md-2">
                                    Analysis type
                                </div>
                                <div class="col-md-5">
                                    <input name="AnalysisType" id="AnalysisType" min="1" placeholder="Pick name" class="input_page padding-left-10 padding-right-10" />
                                </div>
                            </div>*@
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Analysis type
                                    </div>
                                    <div class="col-md-3">
                                        <select id="AnalysisType" name="AnalysisType" class="select2 form-control padding-left-10">
                                            <option value=""> -- Select Analysis type -- </option>
                                            <option value="CreditRisk">Credit Risk</option>
                                            <option value="LiquidityRisk">Liquidity Risk</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Financial year
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input type="text" name="FinancialYear" id="FinancialYear" class="input_page padding-left-10 padding-right-10" placeholder="Enter Financial year" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr class="simple" />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn action-btn btn btn-info" onclick="MuseRiskAnalysisRPT()">
                                            View Report
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->