@model IFMIS.Areas.IFMISTZ.Models.InventoryDetailVM
@{

}
<style>
      /**Date Picker Styles --- START */
      input[type=datetime] {
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical;
      }
</style>

<div class="widget-body " style="padding-top:10px;width:100%">
    <div class="row">  <a href="~/Media/Inventories/InventoryImportationFormat.xlsx">&nbsp;&nbsp;&nbsp;<i class="fa fa-download"></i>Download Excel Sample</a></div>
    <hr />
    @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return UploadInventory1(this)" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("File", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    <input type="file" class="form-control btn btn-default" id="UploadFile" name="UploadFile" required="required">

                </div>
                <label class="control-label col-md-2" for="applyDate">Apply Date</label>
                <div class="col-md-3">
                    <input type="date" class="form-control" id="applyDate" name="applyDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" style="width:300px" />
                </div>
            </div>

            <div class="form-actions">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <button type="button" class="btn btn-info" id="save_button" style="float: left; margin-left: 5px" onclick="uploadInventory()">
                            <i class="glyphicon glyphicon-floppy-disk"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }



</div>
<script>
    function UploadInventory1(formData, event) {
        event.preventDefault();
        swal("Jesus help me");
    }
    $("input[type=datetime]")
    .wrap('<div class="input-group">')
    .datepicker({
        dateFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
        showOn: "both",
        buttonImage: '@Url.Content("~/Content/img/calendar.gif")'
        //maxDate: "+0D"
    })
    .next("button").button({
        icons: { primary: "ui-icon-calendar" },
        label: "Select Date",
        text: false
    })
    .addClass("btn btn-default")
    .wrap('<span class="input-group-btn">')
    .find('.ui-button-text')
    .css({
        'visibility': 'hidden',
        'display': 'inline'
    });



</script>
