@model IFMIS.Areas.IFMISTZ.Models.InventoryDetailVM

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Inventory Details</legend>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Department &nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.SubVote)-@Html.DisplayFor(model => model.SubVoteName)</div> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Inventory Name&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.ItemName)</div></div>
    <div class="row">   <div class="col-sm-6 col-md-6 col-lg-6"><strong>Original Quantity&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.Quantity) @Html.DisplayFor(model => model.UOM)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Unit Price&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.UnitPrice) @Html.DisplayFor(model => model.Currency)</div></div>
    <div class="row">   <div class="col-sm-6 col-md-6 col-lg-6"><strong>Distributed&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.Quantity) @Html.DisplayFor(model => model.UOM)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Balance&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.Quantity) @Html.DisplayFor(model => model.UOM)</div></div>
</fieldset>


<div class="modal-footer">

    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>


