@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function PayrollReport() {
        debugger;
        var reqDate = $("#req_date").val();
        var InstitutionID = $("#InstitutionID").val();
        var url = "../../Areas/RecurrentPayment/Reports/PyDeductionLoanDetail.aspx?data=" + reqDate + "&&InstitutionID=" + InstitutionID;
        window.open(url);
    }
</script>

<div id="content">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Report Parameters</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Payroll Date
                                    </div>
                                    <div class="col-md-5">
                                        <input type="datetime" name="req_date" id="req_date" class="form-control" />
                                        <input type="hidden" id="InstitutionID" value="@ViewBag.InstitutionID" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <input type="button" class="btn btn-info" value="View Report" onclick="PayrollReport()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>