

<script type="text/javascript">

    function PaymentReport() {
        var startDate = $("#start_date").val();
        var endDate = $("#end_date").val();
        var paymentStatus = $("#payment_status").val();
        window.open("../../Reports/PrPayrollDetail.aspx?data=" + reqDate + "&&requestStatus=" + pensionerStatus);
}
</script>

<div id="content">
    <div class="panel panel-default">
        <!-- Default panell contents -->
        <div class="panel-heading">Report Parameters</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="control-label col-md-2">
                        Start Date
                    </div>
                    <div class="col-md-5">
                        <input type="date" name="start_date" id="start_date" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">
                        Start Date
                    </div>
                    <div class="col-md-5">
                        <input type="date" name="start_date" id="start_date" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="control-label col-md-2">
                        End Date
                    </div>
                    <div class="col-md-5">
                        <input type="date" name="end_date" id="end_date" />
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="control-label col-md-2">
                            Payment Status
                        </div>
                        <div class="col-md-5">
                            <select exch_type="myDropdown" name="payment_status" id="payment_status">
                                <option>Select Status</option>
                                <option>SETTLED</option>
                                <option>Sent to BOT</option>
                                <option>Paid</option>
                                <option>UNAPPLIED</option>
                                <option>UNAPPLIED PROCESSED</option>
                                <option>All</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br />

                <div class="form-group">
                    <div class="control-label col-md-2">
                    </div>
                    <div class="col-md-5">
                        <input type="button" value="Submit" onclick="PaymentReport()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

