@model IFMIS.Areas.PayrollManagement.Models.RationPayment
@{

    ViewBag.Title = "Create Salary Scale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<style>
    .input {
        height: 36px;
    }

    input.error {
        border: 1px solid red;
    }

    label.error {
        color: red;
    }
</style>
<!-- MAIN CONTENT -->
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.HiddenFor(d => d.RationAmountId, new { @class = "form-control padding-10 input" })
        @Html.LabelFor(d => d.Amount, new { @class = "control-label col-md-4" })
        <div class="col-md-6">
            @Html.TextBoxFor(d => d.Amount, new { @class = "form-control padding-10 input" })
        </div>
    </div>
}
    <!-- END MAIN CONTENT -->