@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .input[type="text"], select {
        border: 1px solid lightgray;
        width: 100%;
        height: 35px;
    }

    .textarea {
        border: 1px solid lightgray;
        width: 100%;
    }

    .input[type="text"]:focus {
        border: 1px solid lightblue;
    }
</style>
<div id="content" style="margin: 5px; padding-top: 50px">

    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

                        <h2 style="color:black;">Import Items</h2>

                    </header>
                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <table width="100%">
                                <tr>
                                    <td colspan="1">
                                        @using (Html.BeginForm("ImportItem", "Items", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {


                                            <fieldset>
                                                @if (ViewBag.Error != null)
                                                {
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Importation Error</label>
                                                        <div class="col-md-8">

                                                            <p class="help-block">
                                                                @ViewBag.Error
                                                            </p>
                                                        </div>
                                                    </div>
                                                }
                                                <table style="margin-left:200px">
                                                          <tr><td>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" style="text-align:right">Classfication:</label>
                                                            <div class="col-md-8 inputGroupContainer">
                                                                <div class="input-group">
                                                                    @Html.DropDownList("ItemClassificationId", null, htmlAttributes: new { @Class = "input", style = "width:300px; ", required = "required" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    </tr>
                                                    <tr><td height="15px"></td></tr>
                                                    <tr>
                                                        <td>
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label" style="text-align:right">Import Excel File.</label>
                                                            <div class="col-md-8">
                                                                <input name="postedFile" type="file" class="btn btn-default" id="postedFile" style="width:300px; height:35px">

                                                            </div>
                                                        </div>
                                                            </td>
                                                    </tr>
                                                </table>
                                                <br />
                                                <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-7">
                                                            <div style="padding-left:65%">
                                                                <button type="submit" class="btn btn-info action-btn pull-left"
                                                                        style="width:100px;  color:black"
                                                                        id="btn_save_gl_items">
                                                                    <i class="fa fa-file"></i>
                                                                    Import
                                                                </button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        }
                                    </td>
                                    <td colspan="1"></td>
                                </tr>
                            </table>
                        </div>

                    </div>

                </div>
            </article>
        </div>
    </section>
</div>


