@model IFMIS.Areas.IFMISTZ.Models.DummyRejectionVM

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "rejectDummyForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.DummySalaryId)
            <div class="form-group">
                <div class="col-md-3">Rejection Reason </div>
                <div class="col-md-8">
                    @Html.TextArea("RejectionReason", new { @class = "form-control" })
                </div>
            </div>
        </div>
}




