<option value="">--Select Note Item--</option>

@if (ViewBag.GacNoteItemsList != null)
{
    foreach (var item in ViewBag.GacNoteItemsList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}