
@model IEnumerable<IFMIS.Areas.RecurrentPayment.Models.WagebillSummary_vw>
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    tr:nth-of-type(odd) {
        background-color: #f5f5f5;
    }

    table {
        border-collapse: separate;
        border-spacing: 0;
        color: #4a4a4d;
        font: 12px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
    }

    th,
    td {
        padding: 5px 11px;
        vertical-align: middle;
    }

    td {
        border-bottom: 1px solid #cecfd5;
        border-right: 1px solid #cecfd5;
        width: auto;
    }

        td:first-child {
            border-left: 1px solid #cecfd5;
        }

    thead {
        background: #395870;
        color: #fff;
    }

    tfoot {
        background-color: #b4fabc;
        color: #000000;
    }
</style>

<div id="content">
    <div class="row"></div>
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Wagebill Summary</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            @using (Html.BeginForm(null, null, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        @Html.DropDownList("SearchBox", null, "Select Payment Category", new { @class = "form-control select2" })
                                        <input type="hidden" id="InstitutionCode" value="@ViewBag.InstitutionCode" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-info" type="submit">
                                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                            </button>
                                        </span>

                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-info" onclick="PayrollReport()" title="Click button to Preview Report!">
                                                <span class="glyphicon glyphicon-print"></span>
                                                Preview Report
                                            </button>
                                        </div>

                                    </div>
                                </div>

                            }
                            <br />
                            <br />
                            
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
    @section Scripts{
        <script>

           
        function PayrollReport() {
            debugger;
            var PayCategory = $("#SearchBox").val();
            var InstitutionCode = $("#InstitutionCode").val();
            window.open("../../Areas/RecurrentPayment/Reports/WagebillSummary.aspx?PayCategory=" + PayCategory + "&&InstitutionCode=" + InstitutionCode);
        }
        </script>
    }