<table id="dt_voucher_listing" class="table table-bordered table-condensed table-amount">
    <thead>
        <tr>
            <th>#</th>
            <th>Legal Number</th>
            <th>Payee Name</th>
            <th>Payee Bank Acc</th>
            <th>Amount</th>
            <th>Currency</th>
            @*<th>DEDUCTIONS</th>*@
            <th>Source</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>