@model IEnumerable<IFMIS.Areas.PayrollManagement.Models.PaymentBatch>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<!-- MAIN CONTENT -->
<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- START ROW -->
        <div class="row">
            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Payment Batch </h2>
                    </header>
                    <!-- widget div-->
                    <div>
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!--end widget edit box-->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div id="resultLoading" style="display: none; width: 100%; height: 100%; position: fixed; z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto;">
                                <div style="width: 340px; height: 200px; text-align: center; position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; z-index: 10; color: rgb(255, 255, 255);">
                                    <div class="uil-default-css">
                                        <img src="~/Content/loader.gif" style="max-width: 150px; max-height: 150px; display: block; margin-left: auto; margin-right: auto;" />
                                    </div>
                                    <div class="loader-text" style="display: block; font-size: 18px; font-weight: 300;">&nbsp;</div>
                                </div>
                                <div style="background: rgb(0, 0, 0); opacity: 0.6; width: 100%; height: 100%; position: absolute; top: 0px;"></div>
                            </div>
                            <div class="col-xs-9 col-sm-3 col-md-3 col-lg-3">

                            </div>
                            <br />
                            <table class="table table-bordered table-condensed table-hover" id="searchable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Batch Number</th>
                                        <th>Batch Description</th>
                                        <th>Total Amount</th>
                                        <th>No Employees</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </div>
            </article>
        </div>
    </section>
    <!-- end widget grid -->
</div>
@section pagespecific {
    <link href="~/Content/DataTable/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/assets/DataTable/jquery.dataTables.min.js"></script>
    <!-- PAGE RELATED PLUGIN(S) -->
    <script type="text/javascript">
        $(document).ready(function () {
            BindDataTable();
        });

        var BindDataTable = function (response) {
            debugger
            var url = '@Url.Action("PaymentBatchPending", "Employees")';
            $("#searchable").DataTable({
                "sDom": "Tflt<'row DTTTFooter'<'col-sm-6'i><'col-sm-6'p>>",
                "aaSorting": [[1, 'asc']],
                "aLengthMenu": [
                    [5, 15, 20, -1],
                    [5, 15, 20, "All"]
                ],
                "iDisplayLength": 10,
                "oTableTools": {
                    "aButtons": [
                        "copy",
                        "print",
                        {
                            "sExtends": "collection",
                            "sButtonText": "Save <i class=\"fa fa-angle-down\"></i>",
                            "aButtons": ["csv", "xls", "pdf"]
                        }
                    ],
                    "sSwfPath": "assets/swf/copy_csv_xls_pdf.swf"
                },
                "language": {
                    "search": "",
                    "sLengthMenu": "_MENU_",
                    "oPaginate": {
                        "sPrevious": "Prev",
                        "sNext": "Next"
                    }
                },
                "bServerSide": true,
                "sAjaxSource": url,
                "fnServerData": function (sSource, aoData, fnCallback){
                    $.ajax({
                        type: "GET",
                        url: sSource,
                        data: aoData,
                        success: fnCallback
                    });
                },
                "aoColumns": [
                {
                    render: function (data, type, row, meta){
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                    { "mData": "BatchNo" },
                    { "mData": "BatchDesc" },
                    { "mData": "TotalAmount" },
                    { "mData": "NoTrx" },
                    { "mData": "OverallStatus" },
                    {
                        "mData": "PaymentBatchID",
                        "bSortable": false,
                        "render": function (PaymentBatchID, type, full, meta) {
                            return '<div class="btn-group">\
                            <button type="button" class="btn btn-info btn-xs "><i class="fa fa-tasks"></i></button>\
                            <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                    <span class="caret"></span>\
                                        <span class="sr-only"></span>\
                            </button>\
                            <ul class="dropdown-menu" style="width:30px">\
                                <li><a href="../Employees/PaymentDetailsBatchList/' + PaymentBatchID + '" ><i class="glyphicon glyphicon-eye-open"> Details</i></a></li>\
                               <li><a href="#" onclick="submitPayment(' + PaymentBatchID + ')"><i class="glyphicon glyphicon-eye-open"> Submit GEFTP</i></a></li>\
                            </ul>\
                            </div>'
                        }
                    },

                ]
            });
        };


        function submitPayment(i, id) {
            debugger;
            if (i == 'x') i = id;
            swal({
                title: "Payment Submission!",
                text: "Are you sure you want to submit payment?",
                buttons: [
                  'Yes',
                  'No'
                ],
            }).then(function (isConfirm){
                if (isConfirm) {
                    swal("Cancelled", "No change was made");
                } else {
                    confirm(i)
                }
            });
        };

        var confirm = function (id) {
            debugger;
            $('#resultLoading').show();
            var url = '@Url.Action("SubmitPaymentGeftp", "PayrollJobs")/' + id;
            $.ajax({
                type: "POST",
                url: url,
                data: { id: id },
                success: function (response) {
                    if (response == "Success"){
                        swal("Payment submited successfully!",{ icon: "success" }).then((e) =>{
                            window.location.reload();
                        });
                    } else if (response == "DbException"){
                        swal("Error on submited payment!", { icon: "error" }).then((e) => {
                            window.location.reload();
                        });
                    }
                },
                error: function (xhr){
                    swal("An error has occured, contact system support");
                    window.location.reload();
                },
            });
        };

    </script>
}
