@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Note Items";
}

<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
        width: 40px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }


    td {
        padding: 5px;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_table" class="table table-bordered table-condensed table-amount">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Fiscal Year</th>
                                        <th>Note ID</th>
                                        <th>Note Desc</th>
                                        <th>Note Category</th>
                                        <th>Actual Prev Year</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{

    <script>
        var dt_table = $('#dt_table').dataTable({
            "language": {
                "emptyTable": '<strong id="loader" style="color:green">No matching records found</strong>',
                "zeroRecords": "No matching records found"
            },
        });
        $("#searchbox").on("keyup search input paste cut", function () {
            dt_table.DataTable().search(this.value).draw();
        });
        $("#dt_table_wrapper .dt-toolbar").remove();


        function LoadData() {

          var  actionTemplate = function (Id) {
                return '<div class="btn-group">\
                         <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                           <span class="caret"></span\
                            <span class="sr-only"></span>\
                         </button>\
                         <ul class="dropdown-menu">\
                            <li><a href="@Url.Action("TrxDetails", "GacsTransactions")/?TrxSummaryID=' + Id + '">Trx Details</a></li>\
                            <li><a  href="@Url.Action("GacsBudgetTrx", "GacsTransactions")/?TrxSummaryID=' + Id + '">Budget Details</a></li>\
                         </ul>\
                      </div>'
          }

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetGacsTransactions", "GacsTransactions")',
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    var data = response.data;
                    dt_table.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        dt_table.fnAddData([i + 1,
                           data[i]["FiscalYear"],
                           data[i]["NoteId"],
                           data[i]["NoteDesc"],
                           data[i]["NoteCategory"],
                           toLabel(data[i]["ActualPrevYear"]),
                           actionTemplate(data[i].TrxSummaryID),
                        ]);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
        LoadData()
    </script>
}
