@model IEnumerable<IFMIS.Areas.Coadmis.Models.EngagementVM>
<div class="table-responsive">
    <table id="db_basic" class="table table-bordered table-condensed table-hover table-responsive table-striped">
        <tr>
            <th>#</th>
            <th>Member Full Name</th>
            <th>Assigned Role</th>
            <th>Action</th>
        </tr>

        @{
            int i = 0;
        }
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td> @i </td>
                <td>@Html.DisplayFor(modelItem => item.AuditorName)</td>
                <td>@Html.DisplayFor(modelItem => item.MemberLevel)</td>
                <td  style="text-align:center; color:green">
                    <span class="glyphicon glyphicon-transfer" aria-hidden="true" onclick="Handover(@item.EngagementTeamMemberId, '@item.UserId')"></span>
                </td>
            </tr>
        }

    </table>
</div>
