@{
    ViewBag.Title = "Force Account Approval";
}

<style>
    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
    }

    input[type=text] {
        padding: 8px;
        border: 1px solid #ccc;
    }

    td {
        padding: 5px;
    }

    .table-amount td:nth-child(7) {
        text-align: right;
    }

    .table-view-details td:nth-child(4) {
        text-align: right;
    }

    .payee-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .entry-label {
        position: relative;
        top: -12px;
        background-color: white;
        width: 110px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .entry-label1 {
        position: relative;
        top: -12px;
        background-color: white;
        width: 140px;
        left: 15px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        font-weight: bold;
        color: #2196F3;
    }

    .total-amount {
        float: right;
    }

    .wh-holding {
        color: #008636;
        font-size: 10px;
    }

    .bubble-w {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: plum;
        border: 1px solid red;
    }
</style>
<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>@ViewBag.Title</h2>
                    </header>

                    <div>
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6">
                                    <div class="search-container" style="float:right">
                                        <i class="fa fa-search searchIcon"></i>
                                        <input type="search" name="search" placeholder="Search..." id="searchbox">
                                    </div>
                                </div>
                            </div>

                            <table id="dt_table" class="table table-bordered table-condensed table-amount">
                            </table>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific{

    <script>

         var dt_table = $('#dt_table').dataTable({
            "data": [],
            "columns": [
                { title: "#" },
                { title: "CostCentre" },
                { title: "Project Description" },
                { title: "Estimated Project Amount" },
                { title: "Project Manager" },
                { title: "Project Number" },
                { title: "Commencement Date" },
                { title: "Expiry Date" },
                { title: "Fund Category" },
                { title: "Status" },
                { title: "" }
            ]
         });

        $("#dt_table_wrapper .dt-toolbar").remove();

        $("#searchbox").on("keyup search input paste cut", function () {
            dt_table.DataTable().search(this.value).draw();
        });


        var data = []
          $.ajax({
            type: "get",
            url: '@Url.Action("GetData", "ForceAccountPayment")',
              contenttype: "application/json; charset=utf-8",
              data: {status: "Confirmed"},
            datatype: "json",
            success: function (response) {
                data = response.data;
                dt_table.fnClearTable();
                for (var i = 0; i < data.length; i++) {
                    var id = data[i].ForceAccountPaymentRegistrationId
                    dt_table.fnAddData([i + 1,
                        data[i]["CostCentre"],
                        data[i]["ProjectDescription"],
                        toLabel(data[i]["EstimatedProjectAmount"]),
                        data[i]["ProjectManager"],
                        data[i]["ProjectNumber"],
                        data[i]["ExpiryDateFormatted"],
                        data[i]["CommencementDateFormatted"],
                        data[i]["FundCategory"],
                        data[i]["OverallStatus"],
                        '<div class="btn-group" id="drop-' + id + '">\
                              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">\
                                 <span class="caret"></span\
                                     <span class="sr-only"></span>\
                             </button>\
                             <ul class="dropdown-menu">\
                                <li><a href="#" onclick= "approve(' + id + ')">Approve</a></li>\
                                <li><a href="#" onclick="reject(' + id + ')">Reject</a></li>\
                            </ul>\
                        </div>\
                    <img src="/Content/img/loading.gif" id="saveLoader-' + id + '" class="loading-gif"/>'
                    ]);
                    $("#saveLoader-"+id+"").toggle(false)
                }
            },
            failure: function (error) {
                swal(error);
            }
          });


        function approve(id) {
            swal({
                title: 'Approve this Item.?',
                buttons: ['NO','YES'],
                dangerMode: true,
            }).then(function (isConfirmed) {
                if (isConfirmed) {
                    $("#saveLoader-" + id + "").toggle(true)
                    $("#drop-" + id + "").toggle(false)
                    approvePost(id);
                } else {
                    swal("Cancelled", "No change was made");
                }
            });

        }

        function approvePost(id) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Approve", "ForceAccountPayment")',
                data: { id},
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Approved Successfully!", { icon: "success" })
                            .then((e) => {
                            window.location.reload();
                        });
                    }
                    else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }
   function reject(id) {
            swal({
                text: 'Rejection Reason',
                content: "input",
                button: {
                    text: "SAVE",
                    closeModal: true,
                },
            }).then(remark => {
                if (!remark) {
                    swal("No reason was provided");
                } else {
                    $("#saveLoader-" + id).toggle(true)
                    $("#drop-" + id).toggle(false)
                    confirmRejection(id, remark);
                };
            });
        }

        function confirmRejection(id, remarks) {
            $.ajax({
                type: "POST",
                url:  '@Url.Action("Reject", "ForceAccountPayment")',
                data: { id, remarks },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response == "Success") {
                        swal("Saved Successfully!", { icon: "success" }).then((e) => {
                            window.location.reload();
                        });
                    }else {
                        swal(response);
                    }
                },
                failure: function (error) {
                    swal(error);
                }
            });
        }

    </script>
}
