@model IEnumerable<IFMIS.Areas.LoanMod.Models.LoanMonitoringVM>
<div id="content" style="margin: 5px; padding-top: 30px">
    <section id="widget-grid">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">

                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <div class="widget-body">

                        <div class="row">
                            <div class="col-md-3">
                                <select name="RegionIdAssigned" id="RegionIdAssigned" style="width:100px" required class="form-control select2">
                                    @if (ViewBag.regionList != null)
                                    {
                                        <option value="NULL">Select Region</option>
                                        foreach (var region in ViewBag.regionList)
                                        {
                                            <option value='@region.RegionId'>@region.RegionName</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="col-md-3">
                                <div class="search-container" style="float:right">
                                    <i class="fa fa-search searchIcon"></i>
                                    <input type="search" name="search" placeholder="Keywords..." id="searchboxAssigned">
                                    <button style="background-color:#2196F3;color:white" onclick="searchPaymentsdAssigned()">Search</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <table id="dt_monitoring_list2" class="table table-bordered table-condensed table-amount">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    @*<th><input type="checkbox" class="cbCheckAll"></th>*@
                                    <th>Customer Name</th>
                                    <th>Application Number</th>
                                    <th>Loan Purpose</th>
                                    <th>Applied Amount</th>
                                    <th>Approved Amount</th>
                                    <th>Disbursed Amount</th>
                                    <th>OverAllStatus</th>
                                    <th>Assigned Offices</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    </div>
            </article>
        </div>
    </section>
</div>



