@model IFMIS.Areas.IFMISTZ.Models.InstitutionListVm

@{
    ViewBag.Title = "EFDDisbursementRptv";
    ViewBag.Description = "form wizards";
    //Layout = "~/Views/Shared/_Default.cshtml";

}

<style>
    .input {
        border-width: 1px 0 1px 1px;
        border-color: #ccc;
        border-style: solid;
        width: 110px;
        height: 32px;
    }

    span {
        cursor: pointer;
    }
</style>

<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

        </div>
    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>DFund Disbursement Report Parameters</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Report By
                                    </div>
                                    <div class="col-md-5">
                                        <select id="ReportBy" name="ReportBy" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Report By --</option>
                                            <option value="DONOR"> DONOR </option>
                                            <option value="IMPLEMENTER"> IMPLEMENTER </option>
                                            <option value="DISBUSEMENTDATE"> DISBUSEMENT DATE </option>
                                            <option value="PROJECT"> PROJECT </option>
                                            <option value="SECTOR"> SECTOR </option>
                                            <option value="VOTE"> VOTE </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="implementerDiv">
                                    <div class="control-label col-md-2">
                                        Implementer
                                    </div>
                                    <div class="col-md-5">
                                        <select id="Implementers" name="Implementers" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Implementer --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="donorDiv">
                                    <div class="control-label col-md-2">
                                        Donor
                                    </div>
                                    <div class="col-md-5">
                                        <select id="DonorNameList" name="DonorNameList" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Donor --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="voteDiv">
                                    <div class="control-label col-md-2">
                                        Vote
                                    </div>
                                    <div class="col-md-5">
                                        <select id="Votes" name="Votes" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Vote --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="projectDiv">
                                    <div class="control-label col-md-2">
                                        Project
                                    </div>
                                    <div class="col-md-5">
                                        <select id="Projects" name="Projects" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Project --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="sectorDiv">
                                    <div class="control-label col-md-2">
                                        Sector
                                    </div>
                                    <div class="col-md-5">
                                        <select id="Sectors" name="Sectors" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Sector --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Date From
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input id="StartDate" name="StartDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input  type="date" />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Date To
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input id="EndDate" name="EndDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input type="date" />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Status
                                    </div>
                                    <div class="col-md-3">
                                        <select id="Status" name="Status" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Status --</option>
                                            @*<option value="ALL"> ALL </option>*@
                                            <option value="Approved"> APPROVED </option>
                                            <option value="Pending"> PENDING </option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="simple" />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn action-btn btn btn-info" onclick="EFDDisbursementRpt()">
                                            View Report
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->

@section scripts
{
    <script>

        $("#implementerDiv").css({ "display": "none" });
        $("#donorDiv").css({ "display": "none" });
        $("#voteDiv").css({ "display": "none" });
        $("#startDateDiv").css({ "display": "none" });
        $("#endDateDiv").css({ "display": "none" });
        $("#projectDiv").css({ "display": "none" });
        $("#sectorDiv").css({ "display": "none" });


        var reportBy,
            ReportUrl = "http://10.1.67.214:8006/report/generic?",
            _report = "EFDDisbursementReport",
            _format ="pdf";

        function EFDDisbursementRpt() {

            var voteCode, implementerCode, startDate, endDate, donorCode, status, queryString, projectId, sectionId, isNotSupplied;

            if (reportBy === "DONOR") {
                donorCode = $("#DonorNameList").val(),
                status = $("#Status").val(),
                isNotSupplied = validateReportParameters(["#DonorNameList", "#Status"]),
                    queryString = "&p_donorcode=" + donorCode + "&p_reportby=" + "DONOR" + "&p_votecode=" + null + "&p_status=" + status +
                              "&p_implementercode=" + null + "&p_datefrom=" + null + "&p_dateto=" + null + "&p_projectid=" + null + "&p_sectorid=" + null;
            }

            if (reportBy === "IMPLEMENTER") {
                implementerCode = $("#Implementers").val(),
                status = $("#Status").val(),
                isNotSupplied = validateReportParameters(["#Implementers", "#Status"]),
                    queryString = "&p_implementercode=" + implementerCode + "&p_reportby=" + "IMPLEMENTER" + "&p_status=" + status +
                              "&p_votecode=" + null + "&p_donorcode=" + null + "&p_datefrom=" + null + "&p_dateto=" + null + "&p_projectid=" + null + "&p_sectorid=" + null;
            }

            if (reportBy === "DISBUSEMENTDATE") {
                startDate = $("#StartDate").val(),
                endDate = $("#EndDate").val(),
                status = $("#Status").val(),
                isNotSupplied = validateReportParameters(["#StartDate","#EndDate", "#Status"]),
                    queryString = "&p_datefrom=" + startDate + "&p_dateto=" + endDate + "&p_reportby=" + "DISBUSEMENT DATE" + "&p_status=" + status +
                "&p_votecode=" + null + "&p_donorcode=" + null + "&p_implementercode=" + null + "&p_projectid=" + null + "&p_sectorid=" + null;
            }

            if (reportBy === "PROJECT") {
                projectId = $("#Projects").val(),
                status = $("#Status").val(),
                isNotSupplied = validateReportParameters(["#Projects", "#Status"]),
                    queryString = "&p_datefrom=" + null + "&p_dateto=" + null + "&p_reportby=" + "PROJECT" + "&p_status=" + status +
                              "&p_votecode=" + null + "&p_donorcode=" + null + "&p_implementercode=" + null + "&p_projectid=" + projectId + "&p_sectorid=" + null;
            }

            if (reportBy === "VOTE") {
                voteCode = $("#Votes").val(),
                status = $("#Status").val(),
                isNotSupplied = validateReportParameters(["#Votes", "#Status"]),
                    queryString = "&p_votecode=" + voteCode + "&p_reportby=" + "VOTE" + "&p_dateto=" + null + "&p_status=" + status +
                "&p_donorcode=" + null + "&p_datefrom=" + null + "&p_implementercode=" + null + "&p_projectid=" + null + "&p_sectorid=" + null;
            }

            if (reportBy === "SECTOR") {
                sectionId = $("#Sectors").val(),
                status = $("#Status").val(),
                isNotSupplied = validateReportParameters(["#Sectors", "#Status"]),
                    queryString = "&p_votecode=" + null + "&p_reportby=" + "SECTOR" + "&p_dateto=" + null + "&p_status=" + status +
                "&p_donorcode=" + null + "&p_datefrom=" + null + "&p_implementercode=" + null + "&p_projectid=" + null + "&p_sectorid=" + sectionId;
            }

            if (isNotSupplied)
                $(isNotSupplied).attr("style", "border: 1px solid red");
            else {
                var reportPath = ReportUrl + "_report=" + _report + "&_format=" + _format + queryString;
                window.open(reportPath);
            }
        }

        $("#ReportBy").change(function () {

            reportBy = $(this).val();

            if (reportBy === "DONOR") {
                $("#implementerDiv").css({ "display": "none" });
                $("#donorDiv").css({ "display": "block" });
                $("#voteDiv").css({ "display": "none" });
                $("#startDateDiv").css({ "display": "none" });
                $("#endDateDiv").css({ "display": "none" });
                $("#projectDiv").css({ "display": "none" });
                $("#sectorDiv").css({ "display": "none" });

                getProjectDonors();

            }

            if (reportBy === "IMPLEMENTER") {
                $("#implementerDiv").css({ "display": "block" });
                $("#donorDiv").css({ "display": "none" });
                $("#voteDiv").css({ "display": "none" });
                $("#startDateDiv").css({ "display": "none" });
                $("#endDateDiv").css({ "display": "none" });
                $("#projectDiv").css({ "display": "none" });
                $("#sectorDiv").css({ "display": "none" });

                getProjectsImplementers();
            }

            if (reportBy === "DISBUSEMENTDATE") {
                $("#implementerDiv").css({ "display": "none" });
                $("#donorDiv").css({ "display": "none" });
                $("#voteDiv").css({ "display": "none" });
                $("#startDateDiv").css({ "display": "block" });
                $("#endDateDiv").css({ "display": "block" });
                $("#projectDiv").css({ "display": "none" });
                $("#sectorDiv").css({ "display": "none" });
            }

            if (reportBy === "PROJECT") {
                $("#implementerDiv").css({ "display": "none" });
                $("#donorDiv").css({ "display": "none" });
                $("#voteDiv").css({ "display": "none" });
                $("#startDateDiv").css({ "display": "none" });
                $("#endDateDiv").css({ "display": "none" });
                $("#projectDiv").css({ "display": "block" });
                $("#sectorDiv").css({ "display": "none" });

                getExpReleasedProjects();
            }

            if (reportBy === "VOTE") {
                $("#implementerDiv").css({ "display": "none" });
                $("#donorDiv").css({ "display": "none" });
                $("#voteDiv").css({ "display": "block" });
                $("#startDateDiv").css({ "display": "none" });
                $("#endDateDiv").css({ "display": "none" });
                $("#projectDiv").css({ "display": "none" });
                $("#sectorDiv").css({ "display": "none" });

                getProjectVotes();
            }

            if (reportBy === "SECTOR") {
                $("#implementerDiv").css({ "display": "none" });
                $("#donorDiv").css({ "display": "none" });
                $("#voteDiv").css({ "display": "none" });
                $("#startDateDiv").css({ "display": "none" });
                $("#endDateDiv").css({ "display": "none" });
                $("#projectDiv").css({ "display": "none" });
                $("#sectorDiv").css({ "display": "block" });

                getProjectSectors();
            }
        });


        function getProjectVotes() {
            var url = "GetProjectVotes/";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#Votes").empty();
                    $("#Votes").append(response);
                }
            });
        }


        function getProjectDonors() {
            var url = "GetProjectDonors/";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#DonorNameList").empty();
                    $("#DonorNameList").append(response);
                }
            });
        }


        function getProjectsImplementers() {
            var url = "GetProjectsImplementers/";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#Implementers").empty();
                    $("#Implementers").append(response);
                }
            });
        }


        function getExpReleasedProjects() {
            var url = "GetExpReleasedProjects/";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#Projects").empty();
                    $("#Projects").append(response);
                }
            });
        }


        function getProjectSectors() {
            var url = "GetProjectDisbursementSectors/";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#Sectors").empty();
                    $("#Sectors").append(response);
                }
            });
        }


        function validateReportParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i]).attr("style", "border: 1px solid #ccc");
                }
            }
            resetStyle(parameterList);
            for (var i = 0; i < parameterList.length; i++) {
                if (!$(parameterList[i]).val()) {
                    return parameterList[i];
                }
            }
            return null;
        }

    </script>
}