@model IFMIS.Areas.IFMISTZ.Models.InventoryDetail
@{
    ViewBag.Title = "Complete Inventory";
    decimal quantity = 0;
    if (Model.Quantity > 0)
    {
        quantity = (decimal)Model.Quantity;
    }
    else
    {
        quantity = 1;
    }
}



<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Preview Inventory </h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">

                         
                 

                        </div>
                        <div class="col-md-offset-1">
                            @if (ViewBag.tracker == null)
                            {
                                if (Model.OverallStatus.ToUpper() == "PENDING" || Model.OverallStatus == "Rejected")
                                {
                                    <a href="@Url.Action("PendingInventories","Inventories")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                }
                                else if (Model.OverallStatus.ToUpper() == "CONFIRMED")
                                {
                                    <a href="@Url.Action("ApproveInventories","Inventories")" style="margin-right:5px" type="submit" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                }
                                else
                                {
                                    <a href="@Request.UrlReferrer" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                                }
                            }
                            else
                            {
                                <a href="@Request.UrlReferrer" style="margin-right:5px" class="btn btn-info pull-left"><i class="glyphicon glyphicon-arrow-left"></i> Back  </a>
                            }
                            
                        </div>

                        <br/>
                        <br />
                     

                    </div>


                </div>
            </article>

        </div>
    </section>

</div>

@section pagespecific {
    <!-- PAGE RELATED PLUGIN(S) -->

 
}






