
<hr />
<h4>Enter your email</h4>

@using (Html.BeginForm("ForgetPassword", "ApplicationUsers", FormMethod.Post, new { id = "formForgetPassword" }))
{
    <div class="form-group has-feedback">
        <input type="text" id="txtEmail" name="txtEmail" class="form-control" placeholder="Email" />
        <span class="glyphicon glyphicon-envelope form-control-feedback" aria-hidden="true"></span>
    </div>
    <div>
        <input type="button" value="Reset" id="btnReset" name="btnReset" class="btn btn-primary btn-block btn-flat"
               onclick="resetPassword()" />
        <input type="button" value="Cancel" id="btnClose" name="btnClose" class="btn btn-danger btn-block btn-flat"
               onclick="hideDivForgetPassword()" />
    </div>
}

<script>
    var resetPassword = function () {
        if ($("#txtEmail").val() == "") {
            return;
        }

        jQuery.validator.setDefaults({
            debug: true,
            success: "valid"
        });

        $("#formForgetPassword").validate({
            rules: {
                txtEmail: {
                    required: true,
                    email: true
                }
            }
        });

        var model = $("#formForgetPassword").serialize();

        $.ajax({
            type: "POST",
            url: "/ApplicationUsers/ForgetPassword",
            data: model,
        }).done(function (status) {

            if (status == "NoUser") {
                alert("User does not exist!");
            } else if (status == "Valid") {
                alert("Email with password has been sent to " + $("#txtEmail").val());
            } else {
                alert(status);
            }

        })
    }

    var hideDivForgetPassword = function () {
        $("#txtEmail").val("");
        $("#divForgetPassword").hide();
    }
</script>