
@model IFMIS.Areas.IFMISTZ.Models.UnappliedWithdrawVM

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "withdrawUnapplied" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.UnappliedId)
        <div class="form-group">
            <div class="col-md-3">Withdrawal Reason </div>
            <div class="col-md-8">
                @Html.TextArea("Remarks", new { @class = "form-control" })
            </div>
        </div>
    </div>
}
