@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- MAIN CONTENT -->
<div id="content" ng-app="myModule" ng-controller="myController" style="margin: 5px; padding-top: 30px">

    <div class="row">
        @*<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <h1 class="page-title txt-color-blueDark">

                    <!-- PAGE HEADER -->
                    <!--
                    <i class="fa-fw fa fa-pencil-square-o"></i>
                    Payments
                    <span>
                        >
                        Bills
                    </span>
                        -->
                </h1>
            </div>*@

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <!-- Button trigger modal -->
            <!--<a data-toggle="modal" href="#myModal" class="btn btn-success btn-lg pull-right header-btn hidden-mobile"><i class="fa fa-circle-arrow-up fa-lg"></i> Launch form modal</a>-->
        </div>
    </div>

    <!--
    <div class="alert alert-block alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>
        <p>
            You may also check the form validation by clicking on the form action button. Please try and see the results below!
        </p>
    </div>
        -->
    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Create Bill </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">

                            <form role="form" name="billForm" class="form-horizontal" ng-submit="createBill(billForm.$valid)" novalidate autocomplete="off">
                                <fieldset>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Revenue Source</label>
                                        <div class="col-md-3" ng-class="{ 'has-error' : billForm.CostingId.$invalid && submitted }">
                                            <select name="CostingId" id="CostingId" class="form-control" ng-model="CostingId" ng-change="getCosting(CostingId)" required>
                                                <option value="">Select Revenue Source</option>
                                                <option ng-repeat="costing in costings" value="{{costing.CostingId}}">{{costing.CostName}}</option>
                                            </select><i></i>
                                            <span ng-show="billForm.CostingId.$invalid && submitted" class="help-block">Revenue source is required</span>
                                        </div>
                                        <label class="col-md-2 control-label">Revenue Desc</label>
                                        <div class="col-md-5">
                                            <input class="form-control" name="CostDesc" id="CostDesc" placeholder="Revenue Source Description" type="text" readonly="readonly" ng-model="CostDesc">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Sub Revenue Source</label>
                                        <div class="col-md-3">
                                            <select name="SubCostingId" id="SubCostingId" class="form-control" ng-model="SubCostingId" ng-change="getSubCosting(SubCostingId)" required>
                                                <option value="">Select Sub Revenue Source</option>
                                                <option ng-repeat="subCosting in SubCostings" value="{{subCosting.SubCostingId}}">{{subCosting.SubCostName}}</option>
                                            </select><i></i>
                                            <span ng-show="billForm.$submitted || billForm.SubCostingId.$touched">
                                                <span ng-show="billForm.SubCostingId.$error.required" style="color: red">Sub revenue source is required</span>
                                            </span>
                                        </div>
                                        <label class="col-md-2 control-label">Sub Revenue Desc</label>
                                        <div class="col-md-5">
                                            <input class="form-control" name="SubCostDesc" id="SubCostDesc" placeholder="Sub Revenue Source Description" type="text" readonly="readonly" ng-model="SubCostDesc">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Billed Item No</label>
                                        <div class="col-md-3">
                                            <input class="form-control" name="BilledItemId" id="BilledItemId" placeholder="Billed Item No" type="text" ng-model="BilledItemId">
                                        </div>
                                        <label class="col-md-2 control-label">Billed Item Desc</label>
                                        <div class="col-md-5">
                                            <input class="form-control" type="text" name="BilledItemDesc" id="BilledItemDesc" placeholder="Billed Item Desc" ng-model="BilledItemDesc">
                                        </div>
                                    </div>
                                    <!-- Start of select 2 customer -->
                                    <div class="form-group" ng-show="IsMainSource">
                                        <section>
                                            <label class="col-md-2 control-label">Customer</label>
                                            <div class="col col-md-3">
                                                <input class="form-control" type="text" name="CustomerId" id="CustomerId" placeholder="Select Customer" ng-model="CustomerId" ng-change="getCustomer(CustomerId)" ng-required="IsMainSource">
                                                <span ng-show="billForm.$submitted || billForm.CustomerId.$touched">
                                                    <span ng-show="billForm.CustomerId.$error.required" style="color: red">Customer is required</span>
                                                </span>
                                            </div>
                                        </section>
                                        <section>
                                            <label class="col-md-2 control-label">Id Type</label>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" name="IdType" id="IdType" placeholder="Id Type" ng-model="IdType" readonly="readonly">
                                            </div>
                                        </section>
                                    </div>                                                              
                                    <!-- End of select 2 customer -->
                                    <!-- Start of txt customer -->
                                    <div class="form-group" ng-show="IsMainSource === false">
                                        <section>
                                            <label class="col-md-2 control-label">Customer</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="TxtCustomerName" id="TxtCustomerName" placeholder="Customer Name" ng-model="CustomerName" ng-required="!IsMainSource">
                                                <span ng-show="billForm.$submitted || billForm.TxtCustomerName.$touched">
                                                    <span ng-show="billForm.TxtCustomerName.$error.required" style="color: red">Customer is required.</span>
                                                </span>
                                            </div>
                                        </section>
                                        <section>
                                            <label class="col-md-2 control-label">Id Type</label>
                                            <div class="col-md-5">
                                                <select name="DdlIdTypeId" id="DdlIdTypeId" class="form-control" ng-model="IdTypeId" ng-change="getIdType(IdTypeId)">
                                                    <option value="">Select Id Type</option>
                                                    <option ng-repeat="idType in idTypes" value="{{idType.IdTypeId}}">{{idType.IdTypeDesc}}</option>
                                                </select>
                                            </div>
                                        </section>
                                    </div>                                                                      
                                    <!-- End of txt customer -->
                                    <div class="form-group">
                                        <section>
                                            <label class="col-md-2 control-label">Id No</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="IdNo" id="IdNo" placeholder="Id No" ng-model="IdNo" ng-readonly="IsMainSource">
                                            </div>
                                        </section>
                                    </div>
                                    <div class="form-group">
                                        <section>
                                            <label class="col-md-2 control-label">Phone No</label>
                                            <div class="col-md-3" ng-class="{ 'has-error' : billForm.PhoneNo.$invalid && submitted }">
                                                <input class="form-control" type="text" name="PhoneNo" id="PhoneNo" placeholder="Phone Number" ng-model="PhoneNo" ng-readonly="IsMainSource" required ng-pattern="/^\d{10}$/">
                                                <span ng-show="billForm.PhoneNo.$error.required && submitted" class="help-block">Phone number is required</span>
                                                <span ng-show="billForm.PhoneNo.$error.pattern && submitted" class="help-block">Phone number is not valid</span>
                                            </div>
                                        </section>
                                        <section>
                                            <label class="col-md-2 control-label">Email Address</label>
                                            <div class="col-md-5">
                                                <input id="EmailAddress" name="EmailAddress" class="form-control" placeholder="Email Address" type="email" ng-model="EmailAddress" ng-readonly="IsMainSource">
                                                <span ng-show="billForm.$submitted || billForm.EmailAddress.$touched">
                                                    <span ng-show="billForm.EmailAddress.$error.email" style="color:red">Enter a valid email address</span>
                                                </span>
                                            </div>
                                        </section>
                                    </div>                                    
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Unit Cost</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="UnitCost" id="UnitCost" placeholder="Unit Cost" ng-model="UnitCost" ng-change="getOperationalAmount(UnitCost,Quantity)" required>
                                            <span ng-show="billForm.$submitted || billForm.UnitCost.$touched">
                                                <span ng-show="billForm.UnitCost.$error.required" style="color:red">Unit cost is required</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Quantity</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="Quantity" id="Quantity" placeholder="Quantity" ng-model="Quantity" ng-change="getOperationalAmount(UnitCost,Quantity)" required>
                                            <span ng-show="billForm.$submitted || billForm.Quantity.$touched">
                                                <span ng-show="billForm.Quantity.$error.required" style="color:red">Quantity is required</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Total Amount</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="OperationalAmount" id="OperationalAmount" placeholder="Amount" ng-model="OperationalAmount" readonly="readonly">
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">                                           
                                            <button class="btn btn-info" type="submit" style="float: left">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                            <a href="@Url.Action("PendingBills","Billings")" class="btn btn-info" style="float: left; margin-left: 5px">
                                                <i class="fa fa-arrow-left"></i>
                                                Back
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->

@section pagespecific {
    <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        $(function () {
            var url = '@Url.Action("GetCustomers", "Bills")';

            $("#CustomerId").select2({
                minimumInputLength: 2,  // minimumInputLength for sending ajax request to server
                width: 'resolve',   // to adjust proper width of select2 wrapped elements
                ajax: {
                    url: url, // Controller - Select2Demo and Action -AccessRemoteData
                    type: "POST",
                    dataType: 'json',
                    data: function (term) {
                        return {
                            term: term
                        };
                    },
                    results: function (data, page) {
                        return { results: data.customers }; // data.CountryList returning json data from Controlle
                    }
                }
            });

            //$('#UnitCost').autoNumeric('init');
            //$('#Amount').autoNumeric('init');
        });

    </script>
}