<option value="Select District Name"> Select District Name </option>
@if (ViewBag.DistrictByRegionList != null)
{
    foreach (var item in ViewBag.DistrictByRegionList)
    {
      <option value="@item.Value"> @item.Text </option>
    }
}