<option value="">--Select Institution--</option>

@if (ViewBag.ConsolidationInstList != null)
{
    foreach (var item in ViewBag.ConsolidationInstList)
    {
        <option value="@item.Value">@item.Text</option>
    }
}