<option value="">  Select Finding Category  </option>
@if (ViewBag.findingcategory != null)
{
    foreach (var item in ViewBag.findingcategory)
    {
     <option value="@item.Value"> @item.Text </option>
    }
}