<option value=""> Select Opinion Basis </option>
@if (ViewBag.opinionbasis != null)
{
    foreach (var item in ViewBag.opinionbasis)
    {
       <option value="@item.Value"> @item.Text </option>
    }
}