<table class="table table-condensed table-striped table-bordered">
        <thead style="display: table-header-group;">
            <tr style="text-align:center;font-weight:bold;height:10px" bgcolor="lightgrey">
                <td id="natd" style="width:15%"> Auditable Area </td>
                <td id="fungutd" style="width:20%"> Auditable Item </td>
                <td id="fungutd" style="width:12%"> Current Amount </td>
                <td id="amounttd" style="width:12%"> Previous Amount </td>
                <td id="amounttdp" style="width:12%"> Restate Current Amount </td>
                <td id="amounttdp" style="width:12%"> Restate Previous Amount </td>
                <td id="amounttdp" style="width:32%"> Remark </td>

            </tr>
        </thead>
        <tbody>

            @foreach (var group1 in ((IEnumerable<IFMIS.Areas.Coadmis.Models.AuditableAreaSchedule>)ViewBag.schedule).GroupBy(a => a.AuditableAreaScheduleId))
            {
                foreach (var group in group1)
                {
                        <tr>
                            <td>
                                @group.AuditableArea
                            </td>
                            <td style="text-align:center"> @group.AuditableAreaItem </td>
                            <td style="text-align:right"> @string.Format("{0:#,0.00}", group.CurrentAmount)  </td>
                            <td style="text-align:right"> @string.Format("{0:#,0.00}", group.PreviousAmount)  </td>
                            <td>
                                <input type="text" class="form-control" id="restatecurrentamount" />
                            </td>
                            <td>
                                <input type="text" class="form-control" id="restateprevioustamount" />
                            </td>
                            <td style="width:32%">
                                <input type="text" class="form-control" />
                            </td>
                        </tr>
                    }
                }

        </tbody>
    </table>
<table id="dt_voucher_detail" class="table table-striped table-bordered table-hover table-condensed" width="100%"></table>




