@model IFMIS.Areas.IFMISTZ.Models.InstitutionListVm

@{
    ViewBag.Title = "Tickets Issue Report";
}

<style>
    .input {
        border-width: 1px 0 1px 1px;
        border-color: #ccc;
        border-style: solid;
        width: 110px;
        height: 32px;
    }

    span {
        cursor: pointer;
    }
</style>

<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">


        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

        </div>
    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>@ViewBag.Title</h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Institution
                                    </div>
                                    <div class="col-md-5">
                                        <select id="InstitutionCode" name="InstitutionCode" class="select2 form-control padding-left-10">
                                            <option value="">-- Select Institution --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Status
                                    </div>
                                    <div class="col-md-3">
                                        <select name="Status" id="Status" class="select2 form-control padding-left-10">
                                            <option value=""> -- Select Ticket Status -- </option>
                                        </select>
                                    </div>
                                </div>

                                <hr class="simple" />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn action-btn btn btn-info" onclick="TicketsIssueRptv()">
                                            View Report
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->
@section scripts
{
    <script>
        GetTicketsInstitutions();

        function TicketsIssueRptv() {
            var entityCode = $("#InstitutionCode").val(),
                status = $("#Status").val(),
                url = "@Model.UrlName" + "TicketsIssueByStatusRPT.aspx";

            var isNotSupplied = validateReportParameters(["#InstitutionCode","#Status"]);

            if (isNotSupplied)
                $(isNotSupplied).attr("style", "border: 1px solid red");
            else {

                
                var queryString = "inst-code=" + entityCode + "&issue-status=" + status;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ParameterEncryption", "Report")',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { "query": queryString },
                    success: function (response) {
                        window.open(url + response);
                    }
                });
                
            }
        }

        function validateReportParameters(parameterList) {
            var resetStyle = function (parameterList) {
                for (var i = 0; i < parameterList.length; i++) {
                    $(parameterList[i]).attr("style", "border: 1px solid #ccc");
                }
        }
        resetStyle(parameterList);

        for (var i = 0; i < parameterList.length; i++) {
            if (!$(parameterList[i]).val().trim()) {
                return parameterList[i];
            }
        }
        return null;
        }

        function GetTicketsInstitutions() {
            const url = "GetTicketsInstitutions/";
            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                $("#InstitutionCode").empty();
                $("#InstitutionCode").append(response);
                }
            });
        }


        $("#InstitutionCode").change(function () {

            var entityCode = $(this).val();
            var url = "GetTicketStatus/?institutionCode=" + entityCode;

            $.ajax({
                type: "GET",
                url: url,
                contentType: "html",
                success: function (response) {
                    $("#Status").empty();
                    $("#Status").append(response);
                }
            });
        });

    </script>
}