
<style>

</style>

<div id="content" style="margin: 5px; padding-top: 30px">
    <div class="row"></div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>Dashboard</h2>
                        <ul class="nav nav-tabs pull-right in" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Ticket Issued</span></a>
                            </li>


                        </ul>

                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="row row-stat">
                                    <div class="col-md-2">
                                        <div class="panel panel-info noborder">
                                            <div class="panel-heading noborder">
                                                <div class="media-body">
                                                    <h5 class="md-title nomargin">Total</h5>
                                                    <h1 class="mt5">56446</h1>
                                                </div><!-- media-body -->

                                            </div><!-- panel-body -->
                                        </div><!-- panel -->
                                    </div>

                                    <div class="col-md-2">
                                        <div class="panel panel-danger noborder">
                                            <div class="panel-heading noborder">
                                                <div class="media-body">
                                                    <h5 class="md-title nomargin">Urgent</h5>
                                                    <h1 class="mt5">56446</h1>
                                                </div><!-- media-body -->
                                            </div><!-- panel-body -->

                                        </div><!-- panel -->
                                    </div>

                                    <div class="col-md-2">
                                        <div class="panel panel-warning noborder">
                                            <div class="panel-heading noborder">
                                                <div class="media-body">
                                                    <h5 class="md-title nomargin">Open</h5>
                                                    <h1 class="mt5">30</h1>
                                                </div><!-- media-body -->

                                            </div><!-- panel-body -->
                                        </div><!-- panel -->
                                    </div>



                                    <div class="col-md-2">
                                        <div class="panel panel-primary noborder">
                                            <div class="panel-heading noborder">
                                                <div class="media-body">
                                                    <h5 class="md-title nomargin">In Progress</h5>
                                                    <h1 class="mt5">13</h1>
                                                </div><!-- media-body -->

                                            </div><!-- panel-body -->
                                        </div><!-- panel -->
                                    </div>

                                    <div class="col-md-2">
                                        <div class="panel panel-success noborder">
                                            <div class="panel-heading noborder">
                                                <div class="media-body">
                                                    <h5 class="md-title nomargin">Resolved</h5>
                                                    <h1 class="mt5">150</h1>
                                                </div><!-- media-body -->


                                            </div><!-- panel-body -->
                                        </div><!-- panel -->
                                    </div>
                                    <div class="col-md-2">
                                        <div class="panel panel-primary noborder">
                                            <div class="panel-heading noborder">
                                                <div class="media-body">
                                                    <h5 class="md-title nomargin">Closed</h5>
                                                    <h1 class="mt5">138,102</h1>
                                                </div><!-- media-body -->

                                            </div><!-- panel-body -->
                                        </div><!-- panel -->
                                    </div>
                                </div><!-- row -->
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
        <div id="container"></div>
    </section>
</div>
<iframe id="txtArea1" style="display:none"></iframe>
@section pagespecific {
    <script type="text/javascript">


    </script>
}