<!----------- EDIT DIALOG ----------------->
<div class="modal fade" id="editModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Edit Pending Voucher</h3>

            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body " style="padding-top:10px">
                        <div style="display:flex;justify-content:space-evenly">
                            <div>
                                <table>
                                    <tr>
                                        <td class="form-label">Payment in Respect Of</td>
                                        <td>
                                            <textarea style="width:300px" rows="2" id="Comments"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">Voucher Reference</td>
                                        <td>
                                            <input style="width:300px" type="text" id="InvoiceNo" placeholder="Optional">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">Short Description</td>
                                        <td>
                                            <textarea rows="2" id="PaymentDescription" style="width:300px;"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">Apply Date</td>
                                        <td>
                                            <div>
                                                <div><input type="date" style="width:300px;" id="ApplyDate"></div>
                                                <div>Previous Date: <strong id="ApplyDateOld" style="padding-right:5px"></strong></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">Invoice Date</td>
                                        <td>
                                            <div>
                                                <div><input type="date" style="width:300px;" id="InvoiceDate"></div>
                                                <div>Previous Date: <strong id="InvoiceDateOld" style="padding-right:5px"></strong></div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <td class="form-label">Payment Method</td>
                                        <td>
                                            <div class="input-group">
                                                <select id="PaymentMethod" style="width:300px">
                                                    <option value="EFT">EFT</option>
                                                    <option value="IBAN">IBAN</option>
                                                    <option value="Cheque">Cheque</option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">Control Number</td>
                                        <td>
                                            <input id="ControlNumber" style="width:300px;" type="number">
                                            <input id="PaymentVoucherId" style="width:300px;" type="hidden">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">
                                            Total Amount
                                        </td>
                                        <td>
                                            <input type="text" style="width:300px" id="AvailableTotalAmount" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">
                                            With holding
                                            <i class="fa fa-times" style="color:white" id="WithHolding_1"></i>
                                        </td>
                                        <td>
                                            <input type="checkbox" style="width:30px" id="WithHoldingCheckbox">
                                        </td>
                                    </tr>
                                    <tr class="with-holding">
                                        <td class="form-label">
                                            Withholding Amount
                                        </td>
                                        <td>
                                            <pre id="WithHoldingAmount" style="width:300px">0</pre>
                                            (Service)x5% + (Goods)x2% <span id="other_w"></span>
                                        </td>
                                    </tr>
                                    <tr class="with-holding">
                                        <td class="form-label">
                                            VAT
                                            <i class="fa fa-times" style="color:white" id="VATOnService_1"></i>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <strong class="currency">TZS</strong>
                                                </span>
                                                <amount-input type="text" style="width:250px" id="VATOnService" onkeyup="computeWithHoldTotal()" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="with-holding">
                                        <td class="form-label">
                                            Service Fee
                                            <i class="fa fa-times" style="color:white" id="ServiceAmount_1"></i>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <strong class="currency">TZS</strong>
                                                </span>
                                                <amount-input type="text" style="width:250px" id="ServiceAmount" onkeyup="computeWithHoldTotal()" />

                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="with-holding">
                                        <td class="form-label">
                                            Goods
                                            <i class="fa fa-times" style="color:white" id="GoodsAmount_1"></i>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <strong class="currency">TZS</strong>
                                                </span>
                                                <amount-input type="text" style="width:250px" id="GoodsAmount" onkeyup="computeWithHoldTotal()" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="with-holding">
                                        <td class="form-label">
                                            Other
                                            <i class="fa fa-times" style="color:white" id="Other_1"></i>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="checkbox" id="Other" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="other">
                                        <td class="form-label">
                                            Amount
                                            <i class="fa fa-times" style="color:white" id="OtherWithholdingAmount_1"></i>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <strong class="currency">TZS</strong>
                                                </span>
                                                <amount-input type="text" style="width:250px" id="OtherWithholdingAmount" onkeyup="computeWithHoldTotal()" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="other">
                                        <td class="form-label">
                                            Percent
                                            <i class="fa fa-times" style="color:white" id="OtherWithholdingPercent_1"></i>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <strong>(%)</strong>
                                                </span>
                                                <percent-input type="text" style="width:250px" id="OtherWithholdingPercent" onkeyup="computeWithHoldTotal()" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="with-holding">
                                        <td class="form-label">
                                            Total Amount(WithHold)
                                        </td>
                                        <td>
                                            <input class="with-holding" value="0" type="text" style="width:300px" id="WithHoldingTotalAmount" disabled>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-label">
                                            Misc Deduction Amount
                                            <i class="fa fa-times" style="color:white" id="MiscDeduction_1"></i>
                                        </td>
                                        <td>
                                            <input type="checkbox" style="width:30px" id="MiscDeductionCheckbox">
                                            <amount-input id="MiscDeduction" style="width:265px;" />
                                        </td>
                                    </tr>
                                    <tr class="MiscDeduction">
                                        <td class="form-label">
                                            Misc Ded. Description
                                            <i class="fa fa-times" style="color:white" id="MiscDeductionDescription_1"></i>
                                        </td>
                                        <td>
                                            <textarea rows="2" id="MiscDeductionDescription" style="width:300px;" maxlength="80"></textarea>
                                        </td>
                                    </tr>
                                    <tr class="MiscDeduction">
                                        <td class="form-label">
                                            Misc Ded. Payee
                                            <i class="fa fa-times" style="color:white" id="MiscDeductionPayee_1"></i>
                                        </td>
                                        <td>
                                            <div class="name-input-container">
                                                <input type="text" readonly id="MiscDeductionPayee" placeholder="No Payee Selected" style="width:260px" />
                                                <a class="search-btn" onclick="SearchPayee()"
                                                   href="#" style="float:right">
                                                    <i class="fa fa-search search-icon"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" onclick="postEditFormData()" style="width:100px;">
                        <i class="fa fa-save"></i>Save
                    </button>
                    <button class="btn btn-info" onclick="advancedEdit()" style="width:100px;">
                        <i class="fa fa-edit"></i>Advanced
                    </button>
                    <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------- Search GL Items ----------------->
<div class="modal fade" id="glItemsModal" style="left:4%">

    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Gl Item(s)</h3>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td style="padding:5px">Total Voucher Amount</td>
                        <td style="padding:5px">
                            <input type="text" disabled id="total_voucher_amount2">
                        </td>

                        <td style="padding:5px">Total Line Amount</td>
                        <td style="padding:5px">
                            <input value="0" type="text" disabled id="total_line_amount">
                        </td>

                        <td style="padding:5px">Difference</td>
                        <td style="padding:5px">
                            <input value="0" type="text" disabled id="difference" style="width:250px">
                        </td>
                    </tr>
                </table>
                <div>
                    <div class="row" style="padding-top:1%;padding-bottom:1%">
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-6">
                            <div class="search-container " style="float:right">
                                <i class="fa fa-search search-icon"></i>
                                <input type="search" name="search" placeholder="Search..." id="searchbox2">
                            </div>
                        </div>
                    </div>
                    <table id="dt_search_gl_item" class="table table-striped table-bordered table-hover table-condensed" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Expenditure Line Item</th>
                                <th>Item Description</th>
                                <th id="BalanceTitle">Fund Balance</th>
                                <th id="FundingRef">Funding Reference</th>
                                <th>Expense Amount</th>
                            </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info" id="btn_save_gl_items">
                        <i class="fa fa-save"></i>Save
                    </button>
                    <button class="btn btn-info" data-dismiss="modal">
                        <i class="fa  fa-times"></i>Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------- Search Payee ----------------->
<div class="modal fade" id="payeeModal" style="left:4%">
    <div class="modal-dialog" style="width:90%;">
        <div class="modal-content panel-info">
            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title"> Search Payee</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="search-container" style="float:right">
                            <i class="fa fa-search search-icon"></i>
                            <input type="search" name="search" placeholder="Search..." id="searchboxPayee">
                        </div>
                    </div>
                </div>
                <table class="table" id="dt_search_payee">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PaymentId</th>
                            <th>BIC</th>
                            <th>CtrlNum</th>
                            <th>Payee Name</th>
                            <th>Account Name</th>
                            <th>Payee Code</th>
                            <th>Bank Name</th>
                            <th>Bank Account No</th>
                            <th>Payee Type</th>
                            <th>Currency</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-info" data-dismiss="modal">
                    <i class="fa  fa-times"></i>Close
                </button>
            </div>
        </div>
    </div>
</div>

<!----------- VIEW DIALOG ----------------->
<div class="modal fade" id="confirmModal" style="left:4%">
    <div class="modal-dialog" style="width:90%;">
        <div class="modal-content panel-info">

            <div class="modal-header panel-heading">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">Payment Details</h3>
            </div>
            <div class="modal-body">
                <div>
                    <div class="widget-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table  table-hover table-condensed" id="leftData"></table>
                            </div>
                            <div class="col-md-6">
                                <table class="table  table-hover table-condensed" id="rightData"></table>
                            </div>
                        </div>
                        @*<table id="dt_voucher_detail" class="table table-striped table-bordered table-hover table-condensed table-view-details" width="100%"></table>
                        <div class="total-amount">TOTAL <strong id="totalAmount">0.00</strong></div>*@
                        <table>
                            <tr>
                                <td><strong style="color:#2196F3">Status:</strong> <label id="statusId">-</label></td>
                                @*<td><strong style="color:#2196F3">Remarks:</strong> <label id="reasonId">-</label></td>*@
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info" data-dismiss="modal" style="width:100px;">
                        <i class="fa fa-times"></i>Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function openViewDialog(i) {
        globalPayeeId = i;
        let leftData = '';
        let rightData = '';
        let columns = [
            "PayeeAccountName", "PayeeBankAccount", "PayerBankName", "PayerBankAccount",
            "PVNo", "SourceModule", "Narration", "SourceModuleReferenceNo", "ControlNumber",
            "PaymentDesc", "OperationalAmount", "BaseAmount", "BaseCurrency", "OperationalCurrency",
            "ExchangeRate", "CreatedBy", "CreatedAtFormatted", "SubBudgetClassDesc",
            "AOApprovalTitle", "DfundTitle", "AOApprovalRef", "DfundApprovalRef", "TransactionExchangeRate", "TransactionAmount",
            "OperationalExchangeRate", "DfundCurrency", "TransactionCurrency"
        ];

        let counter = columns.length / 2;

        const render = (key, value) => {
            if (["AOApprovalRef", "DfundApprovalRef"].includes(key) && value) {
                let id = data[i].AOApprovalId;
                if (key === "DfundApprovalRef") {
                    id = data[i].DfundApprovalId;
                }
                return `<tr><th>${key}</th><td>${dataLink(value, id)}</td></tr>`
            }

            if (key.endsWith("Amount") || key.endsWith("ExchangeRate")) {
                return `<tr><th>${key}</th><td>${toLabel(value)}</td></tr>`
            }
            return `<tr><th>${key}</th><td>${String(value || "NA").split("|").join("-")}</td></tr>`
        }

        let switcher = true
        columns.forEach((key) => {
            let value = data[i][key]
            if ((value && !["NA","N/A"].includes(value)) || value == 0) {
                if (switcher) {
                    leftData += render(key, value);
                } else {
                    rightData += render(key, value);
                }
                switcher = !switcher
            }
        })

        document.getElementById('leftData').innerHTML = leftData;
        document.getElementById('rightData').innerHTML = rightData;

        dt_voucher_detail.fnClearTable();
        var totalAmount = 0;
        data[i]["VoucherDetails"].forEach(row => {
            dt_voucher_detail.fnAddData([
                row["DrGlAccount"].split("|").join("-"),
                row["DrGlAccountDesc"],
                row["FundingReferenceNo"],
                toLabel(row["OperationalAmount"]),
            ]);
            totalAmount = totalAmount + parseFloat(row["OperationalAmount"]);
        });
        $("#totalAmount").text(toLabel(totalAmount));
        $("#reasonId").text(data[i]["OverallStatusDesc"] ? data[i]["OverallStatusDesc"] : data[i]["RejectedReason"]);
        $("#statusId").text(data[i]["OverallStatus"]);
        $('#confirmModal').modal('show');
    }

    function openLink(id) {
        var url = `@Url.Action("EofficeDetails", "DFundApprovals")/${id}`
        window.open(url, '_blank');
    }

    function dataLink(value, id) {
        return `<a href="#" onclick="openLink(${id})"><strong>${value}</strong></a>`
    }

</script>