
<style>
    table, td, th {
        border: 1px solid #1D96B2;
        text-align: right;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #1D96B2;
        width: 100%;
    }

    th, td {
        padding: 5px;
    }

    th {
        background-color: #D1D1D1;
        text-align: center;
    }

    td {
        text-align: center;
    }

    .table-cash td:nth-child(2) {
        text-align: left;
    }

    .table-trx td:nth-child(2) {
        text-align: left;
        padding-left: 5px;
    }

    .table-budget td:nth-child(1) {
        text-align: left;
    }

    .tab-content > .tab-pane {
        display: block;
        height: 0;
        overflow: hidden;
    }

        .tab-content > .tab-pane.active {
            height: auto;
        }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .export-btn {
        padding: 5px;
        background-color: white;
        border-radius: 5px;
    }
</style>

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>Dashboard</h2>
                        <ul class="nav nav-tabs pull-right in" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Cash Movement</span></a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#s2"><i class="glyphicon glyphicon-calendar"></i> <span class="hidden-mobile hidden-tablet">Budget</span></a>
                            </li>

                            <li>
                                <a data-toggle="tab" href="#s3"><i class="glyphicon glyphicon-list-alt"></i> <span class="hidden-mobile hidden-tablet">Transactions</span></a>
                            </li>
                        </ul>

                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">

                                        <div style="overflow-x:auto;">
                                            <table class="table-cash" id="cashMovement">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Transaction</th>
                                                        <th>Opening balance</th>
                                                        <th>Receipt and Funding</th>
                                                        <th>Internal Transfer</th>
                                                        <th>Total Receipt and Transfer</th>
                                                        <th>Expense</th>
                                                        <th>Cash Book Balance</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr id="DEVELOPMENT"></tr>
                                                    <tr id="RECURRENT"></tr>
                                                    <tr id="REVENUE"></tr>
                                                    <tr id="DEPOSIT"></tr>
                                                    <tr id="OWNSOURCE"></tr>
                                                    <tr style="background-color:#D1D1D1;font-weight:bold" id="TOTAL"></tr>
                                                </tbody>
                                            </table>
                                            <button class="export-btn" onclick="exportToExcel(1)">Export to Excel</button>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5 chart-container">
                                                <div style="padding-top:10px;text-align:center">
                                                    <strong>ACCOUNTS</strong>
                                                </div>
                                                @*  <div id="container"></div>*@
                                                <canvas id="barChartAccount" width="200" height="150" class="chart"></canvas>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5">
                                                <div style="padding-top:10px;text-align:center">
                                                    <strong>TRANSACTIONS</strong>
                                                </div>
                                                <canvas id="barChartTransaction" width="200" height="170" class="chart"></canvas>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="show-stat-microcharts">
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

                                            <div class="easy-pie-chart txt-color-orangeDark" data-percent="33" data-pie-size="50">
                                                <span class="percent percent-sign">35</span>
                                            </div>
                                            <span class="easy-pie-title"> Server Load <i class="fa fa-caret-up icon-color-bad"></i> </span>
                                            <ul class="smaller-stat hidden-sm pull-right">
                                                <li>
                                                    <span class="label bg-color-greenLight"><i class="fa fa-caret-up"></i> 97%</span>
                                                </li>
                                                <li>
                                                    <span class="label bg-color-blueLight"><i class="fa fa-caret-down"></i> 44%</span>
                                                </li>
                                            </ul>
                                            <div class="sparkline txt-color-greenLight hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">
                                                130, 187, 250, 257, 200, 210, 300, 270, 363, 247, 270, 363, 247
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <div class="easy-pie-chart txt-color-greenLight" data-percent="78.9" data-pie-size="50">
                                                <span class="percent percent-sign">78.9 </span>
                                            </div>
                                            <span class="easy-pie-title"> Disk Space <i class="fa fa-caret-down icon-color-good"></i></span>
                                            <ul class="smaller-stat hidden-sm pull-right">
                                                <li>
                                                    <span class="label bg-color-blueDark"><i class="fa fa-caret-up"></i> 76%</span>
                                                </li>
                                                <li>
                                                    <span class="label bg-color-blue"><i class="fa fa-caret-down"></i> 3%</span>
                                                </li>
                                            </ul>
                                            <div class="sparkline txt-color-blue hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">
                                                257, 200, 210, 300, 270, 363, 130, 187, 250, 247, 270, 363, 247
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <div class="easy-pie-chart txt-color-blue" data-percent="23" data-pie-size="50">
                                                <span class="percent percent-sign">23 </span>
                                            </div>
                                            <span class="easy-pie-title"> Transfered <i class="fa fa-caret-up icon-color-good"></i></span>
                                            <ul class="smaller-stat hidden-sm pull-right">
                                                <li>
                                                    <span class="label bg-color-darken">10GB</span>
                                                </li>
                                                <li>
                                                    <span class="label bg-color-blueDark"><i class="fa fa-caret-up"></i> 10%</span>
                                                </li>
                                            </ul>
                                            <div class="sparkline txt-color-darken hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">
                                                200, 210, 363, 247, 300, 270, 130, 187, 250, 257, 363, 247, 270
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <div class="easy-pie-chart txt-color-darken" data-percent="36" data-pie-size="50">
                                                <span class="percent degree-sign">36 <i class="fa fa-caret-up"></i></span>
                                            </div>
                                            <span class="easy-pie-title"> Temperature <i class="fa fa-caret-down icon-color-good"></i></span>
                                            <ul class="smaller-stat hidden-sm pull-right">
                                                <li>
                                                    <span class="label bg-color-red"><i class="fa fa-caret-up"></i> 124</span>
                                                </li>
                                                <li>
                                                    <span class="label bg-color-blue"><i class="fa fa-caret-down"></i> 40 F</span>
                                                </li>
                                            </ul>
                                            <div class="sparkline txt-color-red hidden-sm hidden-md pull-right" data-sparkline-type="line" data-sparkline-height="33px" data-sparkline-width="70px" data-fill-color="transparent">
                                                2700, 3631, 2471, 2700, 3631, 2471, 1300, 1877, 2500, 2577, 2000, 2100, 3000
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- end s1 tab pane -->

                                <div class="tab-pane fade" id="s2">
                                    <div class="widget-body-toolbar bg-color-white">
                                        <div>
                                            <div style="padding-top:10px;text-align:center">
                                                <strong>REVENUE FUNDING</strong>
                                            </div>

                                            <table class="table-budget" id="budget">
                                                <thead>
                                                    <tr>
                                                        <th>SOURCE</th>
                                                        <th>Budget</th>
                                                        <th>Allocation</th>
                                                        <th>Expenditure</th>
                                                        <th>% Budget Vs Allocation</th>
                                                        <th>% Allocation Vs Expenditure</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbudget"></tbody>
                                            </table>
                                            <button class="export-btn" onclick="exportToExcel(2)">Export to Excel</button>
                                        </div>
                                        @*




                                            //======================================
                                                                                                    <div>
                                                                        <div style="padding-top:10px;text-align:center">
                                                                            <strong>EXPENDITURE</strong>
                                                                        </div>
                                                                        <table class="table-budget">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Expanditure Type</th>
                                                                                    <th>Budget</th>
                                                                                    <th>Actuals</th>
                                                                                    <th>Variance(%)</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Development</td>
                                                                                    <td> 20,000,000.00</td>
                                                                                    <td> 20,000,000.00</td>
                                                                                    <td> 65%</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Recurrent PE</td>
                                                                                    <td> 20,000,000.00</td>
                                                                                    <td> 20,000,000.00</td>
                                                                                    <td> 35%</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Recurrent Others</td>
                                                                                    <td> 20,000,000.00</td>
                                                                                    <td> 20,000,000.00</td>
                                                                                    <td> 65%</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>*@
                                    </div>
                                </div>
                                <!-- end s2 tab pane -->

                                <div class="tab-pane fade" id="s3">
                                    <div class="widget-body-toolbar bg-color-white smart-form" id="rev-toggles">
                                        <div>
                                            <div style="text-align:center">
                                                <strong>PENDING TRANSACTIONS</strong>
                                            </div>
                                            <table class="table-trx" id="transaction">
                                                <tbody id="tTrx">
                                                    <tr style="background-color:#D1D1D1;font-weight:bold">
                                                        <td rowspan="2">#</td>
                                                        <td rowspan="2">ACTION</td>
                                                        <td></td>
                                                        <td>DATA ENTRY</td>
                                                        <td></td>
                                                        <td>EXAMINATION</td>
                                                        <td></td>
                                                        <td>APPROVAL</td>
                                                        <td></td>
                                                        <td>GENERATION</td>
                                                        <td></td>
                                                        <td>SENT TO CPO</td>
                                                        <td></td>
                                                        <td>PAYMENT OFFICE</td>
                                                        <td rowspan="2">TOTAL</td>
                                                    </tr>
                                                    <tr style="background-color:#D1D1D1;font-weight:bold;text-align:center">
                                                        <td>Trans</td>
                                                        <td>Amount</td>
                                                        <td>Trans</td>
                                                        <td>Amount</td>
                                                        <td>Trans</td>
                                                        <td>Amount</td>
                                                        <td>Trans</td>
                                                        <td>Amount</td>
                                                        <td>Trans</td>
                                                        <td>Amount</td>
                                                        <td>Trans</td>
                                                        <td>Amount</td>
                                                    </tr>
                                                    @* <tr style="background-color:#D1D1D1;font-weight:bold">
                                                            <td></td>
                                                            <td>TOTAL</td>
                                                            <td>1</td>
                                                            <td>20,000,000.00</td>

                                                            <td>1</td>
                                                            <td>20,000,000.00</td>

                                                            <td>1</td>
                                                            <td>20,000,000.00</td>

                                                            <td>1</td>
                                                            <td>20,000,000.00</td>

                                                            <td>1</td>
                                                            <td>20,000,000.00</td>

                                                            <td><strong>10,000,000.00</strong></td>
                                                        </tr>
                                                        <tr>
                                                            <td rowspan="3" colspan="8" style="border-bottom-color:white;border-left-color:white"></td>
                                                            <td></td>
                                                            <td colspan="4" style="text-align:left;padding-left:5px">Key</td>
                                                        </tr>
                                                        <tr>
                                                            <td>1</td>
                                                            <td colspan="2">Above 2 days</td>
                                                            <td style="background-color:red;color:white" colspan="2">Over Due Transanctions</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td colspan="2">Below 2 days</td>
                                                            <td colspan="2">Normal Transactions</td>
                                                        </tr>*@
                                                </tbody>
                                            </table>
                                            <button class="export-btn" onclick="exportToExcel(3)">Export to Excel</button>
                                        </div>
                                        <div>
                                            <hr style="background-color:red" />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div style="padding-top:10px;text-align:center">
                                                    <strong>JOURNAL TYPE</strong>
                                                </div>
                                                <canvas id="barChartJournalType" width="200" height="150" class="chart"></canvas>
                                            </div>
                                            <div class="col-md-1"></div>
                                            <div class="col-md-5">
                                                <div style="padding-top:10px;text-align:center">
                                                    <strong>ACTIONS</strong>
                                                </div>
                                                <canvas id="barChartActions" width="200" height="110" class="chart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </article>
        </div>
        <div id="container"></div>
    </section>
</div>
<iframe id="txtArea1" style="display:none"></iframe>
@section pagespecific {
    <script type="text/javascript">

        function getCashMovement() {
            var url = '@Url.Action("GetCashMovement", "Home")'
            $.ajax({
                type: "get",
                url: url,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data
                    updateCashMovement(data)
                },
                failure: function (error) {
                    swal(error)
                }
            })
        }

        getCashMovement()
        var CashMovementTable = {}

        var ACCOUNTS_CHART = []
        var TRANSACTION_CHART = []

        function updateCashMovement(data) {
            var Transactions = ["DEVELOPMENT", "RECURRENT", "REVENUE", "DEPOSIT", "OWNSOURCE"];
            Transactions.forEach(Trx=> {
                CashMovementTable[Trx] = {
                    OpeningBalance: 0,
                    ReceiptFunding: 0,
                    InternalTransfer: 0,
                    TotalReceiptAndTransfer: 0,
                    Expenditure: 0,
                    CashBookBalance: 0
                }
            });

            var Category = []
            data.forEach(row=> {
                Category.push(row["Category"])
            });

            var TotalOpeningBalance = 0;
            var TotalReceiptFunding = 0;
            var TotalInternalTransfer = 0;
            var TotalExpenditure = 0;
            var TotalReceiptAndTransfers = 0;
            var TotalReceiptAndTransfers = 0;
            var TotalCashBookBalance = 0;

            data.forEach(row=> {
                if (Category.includes(row["Category"])) {
                    TotalOpeningBalance += row["OpeningBalance"] ? row["OpeningBalance"] : 0;
                    TotalReceiptFunding += row["ReceiptFunding"] ? row["ReceiptFunding"] : 0;
                    TotalInternalTransfer += row["InternalTransfer"] ? row["InternalTransfer"] : 0;
                    TotalExpenditure += row["Expenditure"] ? row["Expenditure"] : 0;

                    CashMovementTable[row["Category"]]["OpeningBalance"] += row["OpeningBalance"] ? row["OpeningBalance"] : 0;
                    CashMovementTable[row["Category"]]["ReceiptFunding"] += row["ReceiptFunding"] ? row["ReceiptFunding"] : 0;
                    CashMovementTable[row["Category"]]["InternalTransfer"] += row["InternalTransfer"] ? row["InternalTransfer"] : 0;
                    CashMovementTable[row["Category"]]["Expenditure"] += row["Expenditure"] ? row["Expenditure"] : 0;
                }
            });

            var i = 0;
            Transactions.forEach(a=> {
                var CashBookBalance = 0;
                i++;
                if (Category.includes(a)) {
                    var TotalReceiptAndTransfer = parseFloat(CashMovementTable[a]["ReceiptFunding"]) + parseFloat(CashMovementTable[a]["InternalTransfer"]);
                    TotalReceiptAndTransfers += TotalReceiptAndTransfer;
                    CashBookBalance = parseFloat(CashMovementTable[a]["OpeningBalance"]) + TotalReceiptAndTransfer - parseFloat(CashMovementTable[a]["Expenditure"]);
                    TotalCashBookBalance += CashBookBalance;
                    $("#" + a).html(
                        '<td>' + i + '</td>\
                     <td><strong>' + a + '</strong></td>\
                     <td>' + CashMovementTable[a]["OpeningBalance"].toLocaleString() + '</td>\
                     <td>' + CashMovementTable[a]["ReceiptFunding"].toLocaleString() + '</td>\
                     <td>' + CashMovementTable[a]["InternalTransfer"].toLocaleString() + '</td>\
                     <td>' + TotalReceiptAndTransfer.toLocaleString() + '</td>\
                     <td>' + CashMovementTable[a]["Expenditure"].toLocaleString() + '</td>\
                     <td><strong>' + CashBookBalance.toLocaleString() + '</strong></td>'
                        );
                } else {
                    $("#" + a).html(
                     '<td>' + i + '</td>\
                     <td><strong>' + a + '</strong></td>\
                     <td>0</td>\
                     <td>0</td>\
                     <td>0</td>\
                     <td>0</td>\
                     <td>0</td>\
                     <td><strong>0</strong></td>'
                   );
                }
                ACCOUNTS_CHART.push(CashBookBalance)
            });

            $("#TOTAL").html(
                     '<td></td>\
                  <td><strong>TOTAL</strong></td>\
                  <td>'+ TotalOpeningBalance.toLocaleString() + '</td>\
                  <td>' + TotalReceiptFunding.toLocaleString() + '</td>\
                  <td>' + TotalInternalTransfer.toLocaleString() + '</td>\
                  <td>' + TotalReceiptAndTransfers.toLocaleString() + '</td>\
                  <td>' + TotalExpenditure.toLocaleString() + '</td>\
                  <td><strong>' + TotalCashBookBalance.toLocaleString() + '</strong></td>'
                 );

            TRANSACTION_CHART = [
                TotalOpeningBalance,
                TotalReceiptAndTransfers,
                TotalExpenditure,
                TotalCashBookBalance
            ]


            drawChartAccount()
            drawChartTransaction()
        }

        function getBudget() {
            var url = '@Url.Action("GetBudget", "Home")'
            $.ajax({
                type: "get",
                url: url,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    _data = response.data
                    updateBudget(_data)
                },
                failure: function (error) {
                    swal(error)
                }
            })
        }
        getBudget()
        function updateBudget(_data) {
            var rows = []
            for (var i = 0; i < _data.length; i++) {
                rows.push(
                   '<tr>\
                     <td id="a-' + i + '"></td>\
                     <td id="b-' + i + '"></td>\
                     <td id="c-' + i + '"></td>\
                     <td id="d-' + i + '"></td>\
                     <td id="e-' + i + '"></td>\
                     <td id="f-' + i + '"></td>\
               </tr>');
            }
            rows = rows.toString()
            rows = rows.split(",").join("").replace("]", "").replace("[", "");
            $("#tbudget").html(rows);
            for (var i = 0; i < _data.length; i++) {
                var e = (parseFloat(_data[i]['BudgetOperationalAmount']) - parseFloat(_data[i]['AllocationAmount'])) / (parseFloat(_data[i]['BudgetOperationalAmount']) + parseFloat(_data[i]['AllocationAmount']))
                var f = (parseFloat(_data[i]['AllocationAmount']) - parseFloat(_data[i]['ExpenditureToDate'])) / (parseFloat(_data[i]['AllocationAmount']) + parseFloat(_data[i]['ExpenditureToDate']))
                $("#a-" + i).text(_data[i]['FundingSource'])
                $("#b-" + i).text(parseFloat(_data[i]['BudgetOperationalAmount']).toLocaleString())
                $("#c-" + i).text(parseFloat(_data[i]['AllocationAmount']).toLocaleString())
                $("#d-" + i).text(parseFloat(_data[i]['ExpenditureToDate']).toLocaleString())
                $("#e-" + i).text(e ? Number((e * 100).toFixed(1)) : 0 + "%")
                $("#f-" + i).text(f ? Number((f * 100).toFixed(1)) : 0 + "%")
            }
        }

        function getTransaction() {
            var url = '@Url.Action("GetTransaction", "Home")'
            $.ajax({
                type: "get",
                url: url,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    _data = response.data
                    console.log(_data)
                    updateTransaction(_data)
                },
                failure: function (error) {
                    swal(error)
                }
            })
        }
        getTransaction()
        function updateTransaction(_data) {
            rows = []
            bottom_total = []
            actions = []
            DATA_OBJECT = {}
            TOTAL_OBJECT = {
                DataEntryNumTrx: 0,
                DataEntryAmt: 0,
                ExaminationNumTrx: 0,
                ExaminationAmt: 0,
                ApprovalNumTrx: 0,
                ApprovalAmt: 0,
                GenerationNumTrx: 0,
                GenerationAmt: 0,
                SentToCPONumTrx: 0,
                SentToCPOAmt: 0,
                PaymentOfficeNumTrx: 0,
                PaymentOfficeAmt: 0
            }
            _data.forEach(row=> {
                if (!actions.includes(row.Action)) {
                    actions.push(row.Action)
                    console.log(row.Action)
                    DATA_OBJECT[row.Action] = {
                        DataEntryNumTrx: 0,
                        DataEntryAmt: 0,
                        ExaminationNumTrx: 0,
                        ExaminationAmt: 0,
                        ApprovalNumTrx: 0,
                        ApprovalAmt: 0,
                        GenerationNumTrx: 0,
                        GenerationAmt: 0,
                        SentToCPONumTrx: 0,
                        SentToCPOAmt: 0,
                        PaymentOfficeNumTrx: 0,
                        PaymentOfficeAmt: 0
                    }
                }
            })

            console.log(DATA_OBJECT)

            _data.forEach(row=> {
                DATA_OBJECT[row["Action"]]['DataEntryNumTrx'] += parseFloat(row['DataEntryNumTrx'])
                DATA_OBJECT[row["Action"]]['DataEntryAmt'] += parseFloat(row['DataEntryAmt'])
                DATA_OBJECT[row["Action"]]['ExaminationNumTrx'] += parseFloat(row['ExaminationNumTrx'])
                DATA_OBJECT[row["Action"]]['ExaminationAmt'] += parseFloat(row['ExaminationAmt'])
                DATA_OBJECT[row["Action"]]['ApprovalNumTrx'] += parseFloat(row['ApprovalNumTrx'])
                DATA_OBJECT[row["Action"]]['ApprovalAmt'] += parseFloat(row['ApprovalAmt'])
                DATA_OBJECT[row["Action"]]['GenerationNumTrx'] += parseFloat(row['GenerationNumTrx'])
                DATA_OBJECT[row["Action"]]['GenerationAmt'] += parseFloat(row['GenerationAmt'])
                DATA_OBJECT[row["Action"]]['SentToCPONumTrx'] += parseFloat(row['SentToCPONumTrx'])
                DATA_OBJECT[row["Action"]]['SentToCPOAmt'] += parseFloat(row['SentToCPOAmt'])
                DATA_OBJECT[row["Action"]]['PaymentOfficeNumTrx'] += parseFloat(row['PaymentOfficeNumTrx'])
                DATA_OBJECT[row["Action"]]['PaymentOfficeAmt'] += parseFloat(row['PaymentOfficeAmt'])

                TOTAL_OBJECT['DataEntryNumTrx'] += parseFloat(row['DataEntryNumTrx'])
                TOTAL_OBJECT['DataEntryAmt'] += parseFloat(row['DataEntryAmt'])
                TOTAL_OBJECT['ExaminationNumTrx'] += parseFloat(row['ExaminationNumTrx'])
                TOTAL_OBJECT['ExaminationAmt'] += parseFloat(row['ExaminationAmt'])
                TOTAL_OBJECT['ApprovalNumTrx'] += parseFloat(row['ApprovalNumTrx'])
                TOTAL_OBJECT['ApprovalAmt'] += parseFloat(row['ApprovalAmt'])
                TOTAL_OBJECT['GenerationNumTrx'] += parseFloat(row['GenerationNumTrx'])
                TOTAL_OBJECT['GenerationAmt'] += parseFloat(row['GenerationAmt'])
                TOTAL_OBJECT['SentToCPONumTrx'] += parseFloat(row['SentToCPONumTrx'])
                TOTAL_OBJECT['SentToCPOAmt'] += parseFloat(row['SentToCPOAmt'])
                TOTAL_OBJECT['PaymentOfficeNumTrx'] += parseFloat(row['PaymentOfficeNumTrx'])
                TOTAL_OBJECT['PaymentOfficeAmt'] += parseFloat(row['PaymentOfficeAmt'])
            })

            for (var i = 0; i < actions.length; i++) {
                rows.push(
               '<tr>\
                   <td>' + i + '</td>\
                   <td id="mm-' + i + '"></td>\
                   <td id="aa-' + i + '"></td>\
                   <td id="bb-' + i + '"></td>\
                   <td id="cc-' + i + '"></td>\
                   <td id="dd-' + i + '"></td>\
                   <td id="ee-' + i + '"></td>\
                   <td id="ff-' + i + '"></td>\
                   <td id="gg-' + i + '"></td>\
                   <td id="hh-' + i + '"></td>\
                   <td id="ii-' + i + '"></td>\
                   <td id="jj-' + i + '"></td>\
                   <td id="kk-' + i + '"></td>\
                   <td id="ll-' + i + '"></td>\
                   <td id="tt-' + i + '">3333</td>\
            </tr>')
            }
            bottom_total.push(
           '<tr style="background-color:#D1D1D1;font-weight:bold">\
                   <td></td>\
                   <td>TOTAL</td>\
                   <td id="taa"></td>\
                   <td id="tbb"></td>\
                   <td id="tcc"></td>\
                   <td id="tdd"></td>\
                   <td id="tee"></td>\
                   <td id="tff"></td>\
                   <td id="tgg"></td>\
                   <td id="thh"></td>\
                   <td id="tii"></td>\
                   <td id="tjj"></td>\
                   <td id="tkk"></td>\
                   <td id="tll"></td>\
                   <td id="ttt"></td>\
            </tr>')

            rows = rows.concat(bottom_total).toString()
            rows = rows.split(",").join("").replace("]", "").replace("[", "");
            $("#tTrx").append(rows);

            $("#taa").text(TOTAL_OBJECT['DataEntryNumTrx'].toLocaleString())
            $("#tbb").text(TOTAL_OBJECT['DataEntryAmt'].toLocaleString())
            $("#tcc").text(TOTAL_OBJECT['ExaminationNumTrx'].toLocaleString())
            $("#tdd").text(TOTAL_OBJECT['ExaminationAmt'].toLocaleString())
            $("#tee").text(TOTAL_OBJECT['ApprovalNumTrx'].toLocaleString())
            $("#tff").text(TOTAL_OBJECT['ApprovalAmt'].toLocaleString())
            $("#tgg").text(TOTAL_OBJECT['GenerationNumTrx'].toLocaleString())
            $("#thh").text(TOTAL_OBJECT['GenerationAmt'].toLocaleString())
            $("#tii").text(TOTAL_OBJECT['SentToCPONumTrx'].toLocaleString())
            $("#tjj").text(TOTAL_OBJECT['SentToCPOAmt'].toLocaleString())
            $("#tkk").text(TOTAL_OBJECT['PaymentOfficeNumTrx'].toLocaleString())
            $("#tll").text(TOTAL_OBJECT['PaymentOfficeAmt'].toLocaleString())

            d_total = []
            for (var i = 0; i < actions.length; i++) {
                $("#mm-" + i).text(actions[i])
                $("#aa-" + i).text(DATA_OBJECT[actions[i]]['DataEntryNumTrx'])
                $("#bb-" + i).text(DATA_OBJECT[actions[i]]['DataEntryAmt'].toLocaleString())

                $("#cc-" + i).text(DATA_OBJECT[actions[i]]['ExaminationNumTrx'])
                $("#dd-" + i).text(DATA_OBJECT[actions[i]]['ExaminationAmt'].toLocaleString())

                $("#ee-" + i).text(DATA_OBJECT[actions[i]]['ApprovalNumTrx'])
                $("#ff-" + i).text(DATA_OBJECT[actions[i]]['ApprovalAmt'].toLocaleString())

                $("#gg-" + i).text(DATA_OBJECT[actions[i]]['GenerationNumTrx'])
                $("#hh-" + i).text(DATA_OBJECT[actions[i]]['GenerationAmt'].toLocaleString())

                $("#ii-" + i).text(DATA_OBJECT[actions[i]]['SentToCPONumTrx'])
                $("#jj-" + i).text(DATA_OBJECT[actions[i]]['SentToCPOAmt'].toLocaleString())

                $("#kk-" + i).text(DATA_OBJECT[actions[i]]['PaymentOfficeNumTrx'])
                $("#ll-" + i).text(DATA_OBJECT[actions[i]]['PaymentOfficeAmt'].toLocaleString())

                t = DATA_OBJECT[actions[i]]['DataEntryAmt'] + DATA_OBJECT[actions[i]]['ExaminationAmt'] + DATA_OBJECT[actions[i]]['GenerationAmt'] + DATA_OBJECT[actions[i]]['SentToCPOAmt'] + DATA_OBJECT[actions[i]]['PaymentOfficeAmt'];
                d_total.push(t)
                $("#tt-" + i).text(t.toLocaleString())
            }
            drawActionChart(actions, d_total)
        }

        function getPaidTransactionJournals() {
            var url = '@Url.Action("GetPaidTransaction", "Home")'
            $.ajax({
                type: "get",
                url: url,
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    data = response.data
                    drawJournalChart(data)
                },
                failure: function (error) {
                    swal(error)
                }
            })
        }
        getPaidTransactionJournals()

        var barOptions = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 2,
            //Boolean - If there is a stroke on each bar
            barShowStroke: true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth: 1,
            //Number - Spacing between each of the X value sets
            barValueSpacing: 2,
            //Number - Spacing between data sets within X values
            barDatasetSpacing: 1,
            //Boolean - Re-draw chart on page resize
            responsive: true,
            //String - A legend template
            legendTemplate: "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].lineColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
        }

        function drawChartAccount() {
            var barData = {
                labels: ["DEVELOPMENT", "RECURRENT", "REVENUE", "DEPOSIT", "OWNSOURCE"],
                datasets: [
                   {
                       fillColor: "rgb(160, 217, 255)",
                       strokeColor: "rgba(220,220,220,0.8)",
                       highlightFill: "rgb(33, 150, 243)",
                       highlightStroke: "rgba(220,220,220,1)",
                       data: ACCOUNTS_CHART
                   }
                ]
            };

            var ctx = document.getElementById("barChartAccount").getContext("2d");
            var myNewChart = new Chart(ctx).Bar(barData, barOptions);
        }

        function drawChartTransaction() {
            var barData2 = {
                labels: ["OPENING BALANCE", "RECEIPTS &TRANSFERS", "EXPENSES", "CASHBOOK BALANCE"],
                datasets: [
                   {
                       fillColor: "rgb(160, 217, 255)",
                       strokeColor: "rgba(220,220,220,0.8)",
                       highlightFill: "rgba(220,220,220,0.75)",
                       highlightStroke: "rgba(220,220,220,1)",
                       data: TRANSACTION_CHART
                   }
                ]
            };
            var ctx = document.getElementById("barChartTransaction").getContext("2d");
            var myNewChart = new Chart(ctx).Bar(barData2, barOptions);
        }

        function drawJournalChart(data) {
            _labels = []
            _data = []
            data.forEach(row=> {
                _labels.push(row.JournalCodeDesc.toUpperCase())
                _data.push(row.OperationalAmount)
            })
            var d1 = {
                labels: _labels,
                datasets: [
                   {
                       fillColor: "rgb(160, 217, 255)",
                       strokeColor: "rgba(220,220,220,0.8)",
                       highlightFill: "rgba(220,220,220,0.75)",
                       highlightStroke: "rgba(220,220,220,1)",
                       data: _data
                   }
                ]
            };

            var ctx1 = document.getElementById("barChartJournalType").getContext("2d");
            var c1 = new Chart(ctx1).Bar(d1, barOptions);
        }


        function drawActionChart(actions, d_total) {
            var d2 = {
                labels: actions,
                datasets: [
                   {
                       fillColor: "rgb(160, 217, 255)",
                       strokeColor: "rgba(220,220,220,0.8)",
                       highlightFill: "rgba(220,220,220,0.75)",
                       highlightStroke: "rgba(220,220,220,1)",
                       data: d_total
                   }
                ]
            };

            var ctx2 = document.getElementById("barChartActions").getContext("2d");
            var c2 = new Chart(ctx2).Bar(d2, barOptions);
        }


        function exportToExcel(table) {
            switch (table) {
                case 1:
                    fnExcelReport('cashMovement')
                    break;
                case 2:
                    fnExcelReport('budget')
                    break;
                case 3:
                    fnExcelReport('transaction')
                    break;
                default:
                    break
            }
        }

        function fnExcelReport(tableId) {
            var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
            var textRange; var j = 0;
            tab = document.getElementById(tableId);

            for (j = 0 ; j < tab.rows.length ; j++) {
                tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
            {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
            }
            else //other browser not tested on IE 11
                sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

            return (sa);
        }
    </script>
}