@model IFMIS.Areas.IFMISTZ.Models.InstitutionListVm

@{
    ViewBag.Title = "FinancialPositionRPTv";
    ViewBag.Description = "form wizards";
    //Layout = "~/Views/Shared/_Default.cshtml";

}

<style>
    .input {
        border-width: 1px 0 1px 1px;
        border-color: #ccc;
        border-style: solid;
        width: 110px;
        height: 32px;
    }

    .input_page {
        border: 1px solid #ccc;
        width: 145px;
        height: 32px;
    }

    span {
        cursor: pointer;
    }
</style>
<script type="text/javascript">

    function FAPosition() {
        var entityCode = $("#InstitutionCode").val().trim(),
            requiredDate = $("#RequiredDate").val().trim(),
            divideFactor = $("#DivideFactor").val().trim(),
            pageNumber = $("#PageNumber").val().trim(),
            url = "@Model.UrlName" + "FAPosition.aspx";

        var isNotSupplied = validateReportParameters(["#InstitutionCode", "#RequiredDate", "#DivideFactor","#PageNumber"]),
            queryString = "inst-code=" + entityCode + "&required-date=" + requiredDate + "&division=" + divideFactor + "&page-no=" + pageNumber;

        if (isNotSupplied)
            $(isNotSupplied).attr("style", "border: 1px solid red");
        else
        {
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("ParameterEncryption", "Report")',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    data: { "query": queryString },
                    success: function (response) {
                        window.open(url + response);
                    }
            });
        }
    }

    function validateReportParameters(parameterList) {
        var resetStyle = function (parameterList) {
            for (var i = 0; i < parameterList.length; i++) {
                $(parameterList[i]).attr("style", "border: 1px solid #ccc");
            }
        }
        resetStyle(parameterList);

        for (var i = 0; i < parameterList.length; i++) {
            if (!$(parameterList[i]).val().trim()) {
                return parameterList[i];
            }
        }
        return null;
    }
</script>
<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">


        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

        </div>
    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2> Financial Position Report Parameters </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Institution Code
                                    </div>
                                    <div class="col-md-5">
                                        @Html.DropDownListFor(model => model.InstitutionCode, Model.InstitutionCodeList, "-- Select Institution --", new { @class = "select2 form-control padding-left-10" })
                                        @Html.ValidationMessageFor(model => model.InstitutionCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Required Date
                                    </div>
                                    <div class="col-md-5 inputGroupContainer">
                                        <div class="input-group">
                                            <div class="input-group flatpickr">
                                                <input name="RequiredDate" id="RequiredDate" placeholder="Pick Date" class="input padding-left-10" autocomplete="off" data-input />
                                                <span class="input-group-addon" data-toggle><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Divide Factor
                                    </div>
                                    <div class="col-md-5">
                                        <select name="DivideFactor" id="DivideFactor" class="select2 form-control padding-left-10">
                                            <option>-- Select divide factor --</option>
                                            <option value="1">ONE</option>
                                            <option value="1000">THOUSAND</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                        Start Page Number
                                    </div>
                                    <div class="col-md-5">
                                        <input type="number" name="PageNumber" id="PageNumber" min="1" placeholder="Pick Number" class="input_page padding-left-10 padding-right-10" />
                                    </div>
                                </div>

                                <hr class="simple" />
                                <div class="form-group">
                                    <div class="control-label col-md-2">
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn action-btn btn btn-info" onclick="FAPosition()">
                                            View Report
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->
                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <!-- END COL -->

        </div>

        <!-- END ROW -->

    </section>
    <!-- end widget grid -->

</div>
<!-- END MAIN CONTENT -->