@model IFMIS.Areas.IFMISTZ.Models.ContractVM
@{
    ViewBag.Title = "Preview Variation";
}

<fieldset class="scheduler-border" id="contract_details">
    <legend class="scheduler-border">Contract Details</legend>
    <div id="contract_data">
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Reg #&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ContractNo)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ContractNumber)</div></div>
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ContractName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Amount&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ContractAmount) @Html.DisplayFor(model => model.OperationalCurrency)</div></div>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Variation Type&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.VariationType)</div>  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Variation Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.VariationReason)</div></div>
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Previous Start Date&nbsp;:</strong>&nbsp;@Convert.ToDateTime(Model.ContractStartDate).ToString("dd/MM/yyyy")</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Previous End Date&nbsp;:</strong>&nbsp;@Convert.ToDateTime(Model.EndDate).ToString("dd/MM/yyyy")</div></div>
        <div class="row">
            @if(Model.NewStartDate !=null){
            <div class="col-sm-6 col-md-6 col-lg-6"><strong>New Start Date&nbsp;:</strong>&nbsp;@Convert.ToDateTime(Model.NewStartDate).ToString("dd/MM/yyyy")</div>
            }
            @if(Model.NewEndDate !=null){

            <div class="col-sm-6 col-md-6 col-lg-6"><strong>New End Date&nbsp;:</strong>&nbsp;@Convert.ToDateTime(Model.NewEndDate).ToString("dd/MM/yyyy")</div>
            }

        </div>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Overall Status&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.OverallStatus)</div></div>

        @if (Model.OverallStatus == "Rejected")
             {
                     if (Model.RejectionReason != null)
                          {
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejected By&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Rejecter)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div></div>

                          }
                                    }
        @if (Model.OverallStatus.ToUpper() == "CONFIRMED")
                     {

                      if (Model.RejectionSolution != null)
                           {
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Rejection Reason&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionReason)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Solution Taken&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.RejectionSolution)</div></div>
                             }

                         }

    </div>
</fieldset>

<div class="modal-footer">
    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>















