@model IEnumerable<IFMIS.Areas.IFMISTZ.Models.BillErrorVM>

<div class="row" style="padding: 10px">
    <div class="col-md-12">
        <p>
            Below are errors associated with this bill
        </p>

        <hr />

        <table class="table table-condensed table-striped table-hover">
            <tr>
                <th>#</th>
                <th>Error Code</th>
                <th>Error Desc</th>
            </tr>
            @{ 
                int i = 0;
            }
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@item.ErrorCode</td>
                    <td>@item.ErrorDesc</td>
                </tr>
            }
        </table>
    </div>
</div>
