@model IFMIS.Areas.IFMISTZ.Models.BillTransferFormVM

<link href="@Server.MapPath("~/Content/bootstrap.min.css")" rel="stylesheet" />
<div style="font-family: Arial, Helvetica, sans-serif; font-size: 18px">
    <div style="border-bottom: 1px dotted black; text-align: center">
        <img src="@Server.MapPath("~/Media/Images/log20180504093652.png")" width="100" height="100" />

        <div style="padding-top: 20px">
            United Republic of Tanzania
        </div>
        <div style="padding-top: 10px">
            <b>@Model.InstitutionName</b>
        </div>
        <div style="padding-top:10px; padding-bottom: 20px">
            Order Form for Electronic Funds Transfer to BANK OF TANZANIA
        </div>
    </div>

    <div class="row" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px">
        <div class="col-xs-12">
            <div class="row" style="padding-top: 20px">
                <div class="col-xs-12"><b>(a). Remitter / Tax Payer Details:-</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3" style="padding-left: 40px">Name of Account Holder(s)</div>
                <div class="col-xs-7" style="padding-top: 15px; border-bottom: 2px dotted black"></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3" style="padding-left: 40px">Name of Commercial Bank</div>
                <div class="col-xs-7" style="padding-top: 15px; border-bottom: 2px dotted black"></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3" style="padding-left: 40px">Bank Account Number</div>
                <div class="col-xs-7" style="padding-top: 15px; border-bottom: 2px dotted black"></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3" style="padding-left: 40px">Signatories</div>
                <div class="col-xs-3" style="padding-top: 15px; border-bottom: 2px dotted black"></div>
                <div class="col-xs-1" style="text-align: center">|</div>
                <div class="col-xs-3" style="padding-top: 15px; border-bottom: 2px dotted black"></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-offset-3 col-xs-3" style="text-align: center">1<sup>st</sup> Signatory</div>
                <div class="col-xs-offset-1 col-xs-3" style="text-align: center">2<sup>nd</sup> Signatory</div>
            </div>

            <div class="row" style="padding-top: 50px">
                <div class="col-xs-3"><b>(b). Beneficiary Details:-</b></div>
                <div class="col-xs-7"><b>:@Model.InstitutionName</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-offset-3 col-xs-7"><b>:@Model.DestinationBankName</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3" style="padding-left: 40px">Account Number</div>
                <div class="col-xs-7"><b>:@Model.DestinationAccountNo</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3" style="padding-left: 40px">SWIFT Code</div>
                <div class="col-xs-7"><b>:@Model.DestinationBankBic</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3" style="padding-left: 40px">Control Number</div>
                <div class="col-xs-7"><b>:@Model.PayCntrNum</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-4">Beneficiary Account (Field 59 of MT103)</div>
                <div class="col-xs-7"><b>:@Model.DestinationAccountNo</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-4">Payment Reference (Field 70 of MT103)</div>
                <div class="col-xs-7"><b>:@Model.PaymentRef</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3" style="padding-left: 40px">Transfer Amount</div>
                <div class="col-xs-9"><b>:@Html.DisplayFor(model => model.BillAmount, "_DecimalThousands")</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3" style="padding-left: 40px">Amount in Words</div>
                <div class="col-xs-7"><b>:@Model.PaidAmountDesc</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3" style="padding-left: 40px">Being payment for</div>
                <div class="col-xs-7"><b>:@Model.PayerName</b></div>
            </div>

            <div class="row" style="padding-top: 10px; padding-bottom: 10px; border-top: 1px dotted black; border-bottom: 1px dotted black; margin-top:10px; margin-bottom: 10px">
                <div class="col-xs-3">Billed Item (1)</div>
                <div class="col-xs-7">:@Model.BillSubDescription</div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3">Printed on </div>
                <div class="col-xs-7">:@Html.DisplayFor(model => model.PrintedOn, "_ShortDateTime")</div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3">Expires on </div>
                <div class="col-xs-7">:@Html.DisplayFor(model => model.ExpireOn, "_ShortDateTime")</div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3">Printed By </div>
                <div class="col-xs-7">:@Model.PrintedBy</div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-3">Signature </div>
                <div class="col-xs-4" style="padding-top: 15px; border-bottom: 2px dotted black"></div>
            </div>

            <div class="row" style="padding-top: 50px">
                <div class="col-xs-12"><b>Note to Commercial Bank:</b></div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-12">1. Please capture the above information correctly. Do not change or add any text, symbols or digits on the information provided.</div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-12">2. Field 59 of MT103 is an <b>"Account Number"</b> with value: <b>/@Model.DestinationAccountNo</b>. Must be captured correctly.</div>
            </div>

            <div class="row" style="padding-top: 10px">
                <div class="col-xs-12">3. Field 70 of MT103 is a <b>"Control Number"</b> with value: <b>/ROC/@Model.PayCntrNum</b>. Must be captured correctly.</div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 20px">
        <div class="col-xs-12" style="text-align: center; font: bold 16px arial, verdana">
            Government Payment Gateway © @DateTime.Now.Year All Rights Reserved (GePG)
        </div>
    </div>
</div>