@model IFMIS.Areas.IFMISTZ.Models.FundTransferSummary

<div class="form-group">
    <div class="col-md-6">
        <b>@Html.DisplayNameFor(model => model.RejectionReason):</b>
        @Html.DisplayFor(model => model.RejectionReason)
    </div>
</div>


