<style>
    .search-btn {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px;
        padding-right: 10px;
    }

    .search-container {
        background-color: white;
        color: black;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .name-input-container {
        display: inline-flex;
        flex: 1 1 300px;
        position: relative;
        overflow: hidden;
    }

    .search-icon {
        padding: 0.5rem;
    }

    .search-button {
        background: #538AC5;
        border: 0;
        color: white;
        padding: 8px;
        border-radius: 0;
    }

    input[type=number] {
        padding: 8px;
        border: 1px solid #ccc;
        width: 205px;
    }

    input[type=text] {
        padding: 5px;
        border: 1px solid #ccc;
    }

    input[type=search] {
        padding: 4px;
        border: hidden;
        border-radius: 4px;
    }

    textarea {
        border: 1px solid #ccc;
    }

    select {
        padding: 8px;
        border: 1px solid #ccc;
        resize: vertical;
        width: 230px;
    }

    .action-btn {
        width: 100px;
        color: white;
    }

    .form-label {
        text-align: right;
    }

    td {
        padding: 5px;
    }

    .info-box {
        padding: 10px;
        background-color: #ECF3F8;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .row-align {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
</style>

<div style="padding:1em;padding-top:4em">
    <section id="widget-grid">
        <article class="col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Edit Voucher</h2>
                </header>
                <div class="widget-body">
                    <div>
                        <div class="widget-body " style="padding-top:10px">
                            <table style="margin-left: 25%">
                                <tr>
                                    <td class="form-label">Payment in Respect Of</td>
                                    <td>
                                        <textarea style="width:300px" rows="2" id="Comments"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">Invoice No</td>
                                    <td>
                                        <input style="width:300px" type="text" id="InvoiceNo" placeholder="Optional">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">Short Description</td>
                                    <td>
                                        <textarea rows="2" id="PaymentDescription" style="width:300px;"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">Apply Date</td>
                                    <td>
                                        <div class="input-group date">
                                            <div class="flatpickr date-group">
                                                <input type="text" placeholder="Change Date.."
                                                       data-input
                                                       style="width:262px;padding-left:10px;border:none"
                                                       autocomplete="off" id="ApplyDate">
                                                <a class="input-button" title="open" data-toggle href="#">
                                                    <span class="input-group-addon" style="height:40px"><i class="fa fa-calendar"></i></span>
                                                </a>
                                                Previous Date: <strong id="ApplyDateOld" style="padding-right:5px"></strong>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">Invoice Date</td>
                                    <td>
                                        <div class="input-group date">
                                            <div class="flatpickr date-group">
                                                <input type="text" placeholder="Change Date.."
                                                       data-input
                                                       style="width:262px;padding-left:10px;border:none"
                                                       autocomplete="off" id="InvoiceDate">
                                                <a class="input-button" title="open" data-toggle href="#">
                                                    <span class="input-group-addon" style="height:40px"><i class="fa fa-calendar"></i></span>
                                                </a>
                                                Previous Date: <strong id="InvoiceDateOld" style="padding-right:5px"></strong>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">Payment Method</td>
                                    <td>
                                        <div class="input-group">
                                            <select id="PaymentMethod" style="width:300px">
                                                <option value="EFT">EFT</option>
                                                <option value="Cheque">Cheque</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">Control Number</td>
                                    <td>
                                        <input id="ControlNumber" style="width:300px;" type="text">
                                        <input id="PaymentVoucherId" style="width:300px;" type="hidden">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Total Amount
                                    </td>
                                    <td>
                                        <input type="text" style="width:300px" id="AvailableTotalAmount" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        With holding
                                        <i class="fa fa-times" style="color:white" id="WithHolding_1"></i>
                                    </td>
                                    <td>
                                        <input type="checkbox" style="width:30px" id="WithHoldingCheckbox">
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        Withholding Amount
                                    </td>
                                    <td>
                                        <pre id="WithHoldingAmount" style="width:300px">0</pre>
                                        (Service)x5% + (Goods)x2% <span id="other_w"></span>
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        VAT
                                        <i class="fa fa-times" style="color:white" id="VATOnService_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong class="currency">TZS</strong>
                                            </span>
                                            <amount-input type="text" style="width:250px" id="VATOnService" onkeyup="computeWithHoldTotal()" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        Service Fee
                                        <i class="fa fa-times" style="color:white" id="ServiceAmount_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong class="currency">TZS</strong>
                                            </span>
                                            <amount-input type="text" style="width:250px" id="ServiceAmount" onkeyup="computeWithHoldTotal()" />

                                        </div>
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        Goods
                                        <i class="fa fa-times" style="color:white" id="GoodsAmount_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong class="currency">TZS</strong>
                                            </span>
                                            <amount-input type="text" style="width:250px" id="GoodsAmount" onkeyup="computeWithHoldTotal()" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        Other
                                        <i class="fa fa-times" style="color:white" id="Other_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="checkbox" id="Other" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="other">
                                    <td class="form-label">
                                        Amount
                                        <i class="fa fa-times" style="color:white" id="OtherWithholdingAmount_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong class="currency">TZS</strong>
                                            </span>
                                            <amount-input type="text" style="width:250px" id="OtherWithholdingAmount" onkeyup="computeWithHoldTotal()" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="other">
                                    <td class="form-label">
                                        Percent
                                        <i class="fa fa-times" style="color:white" id="OtherWithholdingPercent_1"></i>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <strong>(%)</strong>
                                            </span>
                                            <percent-input type="text" style="width:250px" id="OtherWithholdingPercent" onkeyup="computeWithHoldTotal()" />
                                        </div>
                                    </td>
                                </tr>
                                <tr class="with-holding">
                                    <td class="form-label">
                                        Total Amount(WithHold)
                                    </td>
                                    <td>
                                        <input class="with-holding" value="0" type="text" style="width:300px" id="WithHoldingTotalAmount" disabled>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="form-label">
                                        Misc Deduction Amount
                                        <i class="fa fa-times" style="color:white" id="MiscDeduction_1"></i>
                                    </td>
                                    <td>
                                        <input type="checkbox" style="width:30px" id="MiscDeductionCheckbox">
                                        <amount-input id="MiscDeduction" style="width:265px;" />
                                    </td>
                                </tr>
                                <tr class="MiscDeduction">
                                    <td class="form-label">
                                        Misc Ded. Description
                                        <i class="fa fa-times" style="color:white" id="MiscDeductionDescription_1"></i>
                                    </td>
                                    <td>
                                        <textarea rows="2" id="MiscDeductionDescription" style="width:300px;" maxlength="80"></textarea>
                                    </td>
                                </tr>
                                <tr class="MiscDeduction">
                                    <td class="form-label">
                                        Misc Ded. Payee
                                        <i class="fa fa-times" style="color:white" id="MiscDeductionPayee_1"></i>
                                    </td>
                                    <td>
                                        <div class="name-input-container">
                                            <input type="text" readonly id="MiscDeductionPayee" placeholder="No Payee Selected" style="width:260px" />
                                            <a class="search-btn" onclick="SearchPayee()"
                                               href="#" style="float:right">
                                                <i class="fa fa-search search-icon"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <button class="btn btn-info" href='@Url.Action("pendingvoucher", "PaymentVoucher")' style="margin-right:5px">
                                <i class="glyphicon glyphicon-arrow-left"></i>Back
                            </button>
                            <button type="submit" class="btn btn-info" id="form_submision">
                                <i class="fa fa-save"></i>Save
                                <img src="~/Content/img/loading.gif" id="saveLoader" />
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </article>

    </section>

</div>
@section pagespecific{
<script>
    $("#WithHoldingCheckbox").prop('disabled', false)
    $("#_ServiceAmount").prop('disabled', false)
    $("#_VATOnService").prop('disabled', false)
    $("#_GoodsAmount").prop('disabled', false)
    $("#_VATOnGoods").prop('disabled', false)
    $("#_OtherWithholdingAmount").prop('disabled', false)
    $("#_OtherWithholdingPercent").prop('disabled', false)
</script>
}
