@{
    Layout = null;
}
<style>
    .center-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paper {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 2% 8%;
    }

    .btn {
        background-color: deepskyblue;
        color: white;
        padding: 8px 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
    }

        .btn.grey {
            background-color: #808080;
        }

    .btn-container {
        padding: 8px;
        display: flex;
        justify-content: space-evenly;
    }

    .checkbox-container {
        margin: 20px 0;
        display: flex;
        align-items: center;
    }

        .checkbox-container input[type="checkbox"] {
            margin-right: 10px;
        }
</style>

<div style="padding: 10%;">
    <div class="paper">
        <div class="center-item">
            <p style="font-weight: bold; text-align: center;">
                Tunapenda kusikia maoni yako kuhusu Mfumo wa Uhasibu wa Serikali (MUSE)!<br>
                Tafadhali chukua muda kidogo kutoa maoni yako kupitia dodoso hili fupi.
            </p>
        </div>
        <hr style="border: 1px solid #000000; margin-bottom: 20px" />

        <!-- Checkbox for anonymous option -->
        <div class="checkbox-container">
            <input type="checkbox" id="anonymous" name="anonymous">
            <label for="anonymous">Ningependa kujaza dodoso hili bila kujulikana (anonymous)</label>
        </div>

        <div class="btn-container">
            <button type="button" class="btn grey" onclick="GoToMuse()">Endelea MUSE</button>
            <button type="button" class="btn" onclick="TakeSurvey()">Endelea na Dodoso</button>
        </div>
    </div>
</div>
<script>
    function TakeSurvey() {
        var isChecked = document.getElementById("anonymous");
        var url = `@Url.Action("TakeSurvey", "Survey")/?IsAnonymous=${isChecked.checked}`;
        window.location.href = url;

    }

    function GoToMuse() {
        window.location.href = `${window.location.origin}/?skip=1`;
    }
</script>
