@{
    ViewBag.Title = "Local Purchase Order Details";
}
<style>
 

    .tracker-entry {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding-bottom: 10px;
    }

   
</style>


<div id="content" style="margin: 5px; padding-top: 30px">

    <div class="row">


    </div>


    <!-- widget grid -->
    <section id="widget-grid" class="">


        <!-- START ROW -->

        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-togglebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Track Single LPO</h2>

                    </header>


                    <div>
                        <div class="widget-body " style="padding-top:10px;width:100%">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-1">
                                    @Html.DropDownList("FinancialYearCode", ViewBag.FinanciarYears as SelectList, "Select Financial Year", new { @class = "form-control select2" })
                                </div>
                                <div class="col-md-3">
                                    <select id="PurchaseOrderId" name="PurchaseOrderId" class="form-control select2">
                                        <option value="" selected>Select LPO Number</option>
                                    </select>
                                </div>
                                <div class="col-md-1">
                                    <div class="input-group"><span class="input-group-btn"><button class="btn" style="background-color:#2196F3;color:white" id="search_asset" type="submit">Search</button></span></div>
                                </div>
                            </div>
                            <hr />
                       
                            <div align="center">
                                <img src="~/Media/Images/ajax_loader.gif" class="loadingImg" style="display:none" />
                            </div>         
                      
                                </div>





                            </div>


                        </div>
            </article>

        </div>
    </section>
    </div>

    @section pagespecific {
        <!-- PAGE RELATED PLUGIN(S) -->

        <script type="text/javascript">

            $(document).ready(function () {

            $("#FinancialYearCode").change(function () {
            var year = $(this).val();
            var url = '@Url.Action("GetLPONumbers", "Procurement")';
            $.ajax({
                type: "GET",
                url: url,
                data: { year : year },
                success: function (response) {
                    $("#PurchaseOrderId").empty();
                    $("#PurchaseOrderId").append(response);
                }
            })
        });


            });
            //SHOW LOADER ICON
            $(document).ajaxStart(function () {
                $(".loadingImg").show();

            });
            //HIDE LOADER ICON
            $(document).ajaxStop(function () {
                $(".loadingImg").hide();
            });

        </script>
    }

