@model IEnumerable<IFMIS.Areas.Coadmis.Models.HTMLContentVM>

@foreach (var item in Model)
{
    <div style="text-align: justify; page-break-after: always; font-family: Arial; font-size: 30px;">
        @Html.Raw(item.HTMLData)
    </div>

}
