
@model GEFTP.Models.DeductionCurrent

@{
    ViewBag.Title = "Upload PE Details";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data", id = "paymentForm" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-heading">Import Deductions</div>
         <div class="panel-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })                                                                    
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" value="Import" class="btn btn-default" onclick="uploadPEDetails()" />
                                <a href="@Url.Action("DeductionCurrrentList","DeductionCurrents")" class="btn btn-default btn-flat">
                                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                                    Back
                                </a>
                            </div>
                        </div>
                    </div>
                  </div>
                 </div>
                <div id="divLoader" style="text-align: center; display: none">
                <img src="~/Media/Images/ajax_loader.gif" />
             </div>
        </div>
    </div>
}

@section Scripts{

    <script>

        var uploadPEDetails = function () {

            if (window.FormData !== undefined) {

                var data = new FormData();
                // var file = $("#FileName").get(0).files;

                // if (file.length > 0) {
                //data.append("Description", $("#Description").val());
                //data.append("FinancialYearName", $("#FinancialYearName").val());
                //data.append("CheckDate", $("#CheckDate").val());
                //data.append("FileName", file[0]);
                // }

                var url = '@Url.Action("ImportDeduction", "DeductionCurrents")';

                if (!$("#paymentForm").valid()) {
                    return false;
                }

                $("#divLoader").show();

                $.ajax({
                    url: url,
                    type: "post",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        if (response == "Success") {
                            alert("Successfully uploaded!");
                            $("#divLoader").hide();
                            window.location();
                        } else if (response == "InvalidFormat") {
                            alert("Invalid file format, file format should be MS Excel!");
                            $("#divLoader").hide();
                            location.reload();
                        } else if (response == "InvalidSize") {
                            alert("Invalid file size, file size should be less than 2MB!");
                            $("#divLoader").hide();
                            location.reload();
                        }
                        else {
                            alert("Unknown error, contact system admin!");
                            $("#divLoader").hide();
                            location.reload();
                        };
                    },
                    error: function (response) {
                        alert(response);
                        $("#divLoader").hide();
                        location.reload();
                    }
                });
            };
        };

    </script>
}







