@model IFMIS.Areas.IFMISTZ.Models.ChangeBankAccountVM


@if(Model.SourceModule=="Contract"){
<fieldset class="scheduler-border" id="contract_details">
    <legend class="scheduler-border">Contract Details</legend>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Number &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ContractNumber)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeName)</div></div>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Amount&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ContractAmount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Code&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeCode)</div></div>
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Contract Name&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.ContractName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Bank&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.OldBankName)</div></div>
        <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Account Name&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.OldAccountName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Account Number&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.OldBankAccount)</div></div>  
</fieldset>
}else{
<fieldset class="scheduler-border" id="contract_details">
    <legend class="scheduler-border">Local Purchase Order Details</legend>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>LPO Number &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PurchaseOrderNo)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeName)</div></div>
    <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>LPO Amount&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PurchaseOrderAmount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Payee Code&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.PayeeCode)</div></div>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Description&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.PurchaseOrderDesc)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Bank&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.OldBankName)</div></div>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Account Name&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.OldAccountName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Current Account Number&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.OldBankAccount)</div></div>
</fieldset>
}
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Change Details</legend>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>New Bank Name&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.NewBankName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>New Account Name&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.NewAccountName)</div></div>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>New Account Number&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.NewBankAccount)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Reason for change&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.ChangeDescription)</div></div>
    <div class="row">  <div class="col-sm-6 col-md-6 col-lg-6"><strong>Status&nbsp;&nbsp:</strong>&nbsp;@Html.DisplayFor(model => model.OverallStatus)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Date&nbsp;&nbsp:</strong>&nbsp;@Convert.ToDateTime(Model.CreatedAt).ToString("dd/MM/yyyy")</div></div>
</fieldset>
<div class="modal-footer">
    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>
