<option value="">Select Finding --</option>
@if (ViewBag.FieldWorkSummary != null)
{
    foreach (var item in ViewBag.FieldWorkSummary)
    {
        <option value="@item.Value"> @item.Text </option>
    }
}