<option value="">Select status --</option>
@if (ViewBag.FindingStatus != null)
{
    foreach (var item in ViewBag.FindingStatus)
    {
        <option value="@item.Value"> @item.Text </option>
    }
}