@*<option value="">Select Finding -----Nature --</option>*@
@if (ViewBag.IsMaterial != null)
{
    foreach (var item in (SelectList)ViewBag.IsMaterial)
    {
        <option value="@item.Value"> @item.Text </option>
    }
}