@model IFMIS.Areas.ALS.Models.LoanClearance
@{
  decimal? balance = Model.ALSOperLoan.LoanBalance - Model.Amount;
}
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Customer Details</legend>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>LoanCtrlNum&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ALSOperLoan.LoanCtrlNum)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Amount&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.Amount)</div></div>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Check Number&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ALSOperLoan.CheckNo)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Clearance Type&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ClearanceType)</div></div>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Vendor Name&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ALSOperLoan.VendorName)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Reference No&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ReferenceNo)</div></div>
        <div class="row"> <div class="col-sm-6 col-md-6 col-lg-6"><strong>Loan Desc &nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.ALSOperLoan.LoanCode)-@Html.DisplayFor(model => model.ALSOperLoan.LoanDescr)</div><div class="col-sm-6 col-md-6 col-lg-6"><strong>Overall Status&nbsp;:</strong>&nbsp;@Html.DisplayFor(model => model.OverallStatus)</div></div>
    </fieldset>

<div class="modal-footer">
    <button class="btn btn-info btn-flat modal-close" data-dismiss="modal">Close</button>
</div>










